<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descargar</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <script src="https://kit.fontawesome.com/81cd34b36e.js" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <div class = "logoutcontainer">

        <div class = "iconcontainer">

            <a href="/editar-datos">
                <div class="editar-datos">
                    <i class='fas fa-edit'></i>
                </div>
            </a>

            <a href="/logout">
                <div class="log-in">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </div>
            </a>
        </div>
    </div>

    <a href="/inicio"><img src="/images/logo.png" alt="logo"></a>

    <h1 class = "title">Descargar datos de cotizaci贸n <%=numcot%></h1>

    <div class="formcontainer">

        <a href = "<%=filecotizacion%>" download><button class="downloadbuttons">Cotizaci贸n cliente</button></a>
        <a href = "<%=filecotizacioncarta%>" download><button class="downloadbuttons">Cotizaci贸n cliente formato carta</button></a>
        <a href = "<%=filedatos%>" download><button class="downloadbuttons">Datos Quartec</button></a>
        <a href = "<%=fileremision%>" download><button class="downloadbuttons">Remisi贸n</button></a>
        <a href = "<%=filecorte%>" download><button class="downloadbuttons">Orden de corte</button></a>
        <a href = "<%=filedoblez%>" download><button class="downloadbuttons">Orden de doblez</button></a>
    </div>
</body>
</html>