<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar cotización</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <script src="https://kit.fontawesome.com/81cd34b36e.js" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script type="text/javascript">
        
        function changeCutValue(item, cortevalues){

            //  Cálculo del perímetro 
            let perimetroautocad = parseFloat(document.getElementById('perimetro_autocad'+item).value) || 0;
            let factorcorte = parseFloat(document.getElementById('factor_corte'+item).value) || 0;
            let perimetroxfactor = document.getElementById('perimetro'+item);
            let globalcut = document.getElementById('globcorte').value || 1;
            let perimetro = perimetroautocad*factorcorte*globalcut;

            perimetroxfactor.value = perimetro.toFixed(2);

            //  Cálculo del costo del corte por pieza 
            let espesorform = document.getElementById('espesor'+item).value;
            let materialform = document.getElementById('material'+item).value;
            let costocortepormm = cortevalues.filter(el => el.width == espesorform)[0][materialform];
            let costocorte = document.getElementById('calculocorte'+item);
            let costoporpieza = costocortepormm*perimetro;

            costocorte.value = costoporpieza.toFixed(2) || 0;
        }

        function changePiercingValue(item, piercingvalues){

            //  Cálculo del costo de piercings por pieza 
            let espesorform = document.getElementById('espesor'+item).value;
            let costopiercing = piercingvalues.filter(el => el.width == espesorform)[0]["piercing"];
            let costopiercings = document.getElementById('calculopiercing'+item);
            let numpiercings = parseFloat(document.getElementById('piercings'+item).value) || 0;
            let costoporpieza = costopiercing*numpiercings;

            costopiercings.value = costoporpieza.toFixed(2) || 0;
        }

        function changeDoblezValue(item, doblezgvalues){

            //  Cálculo del costo de doblez por pieza 
            let espesorform = document.getElementById('espesor'+item).value;
            let costodoblez = doblezgvalues.filter(el => el.width == espesorform)[0]["fold"];
            let costodobleces = document.getElementById('calculodoblez'+item);
            let numdobleces = parseFloat(document.getElementById('dobleces'+item).value) || 0;
            let longdobleces = parseFloat(document.getElementById('longitud_doblez'+item).value) || 0;

            let globdoblez = document.getElementById('globdoblez').value || 1;

            let longdoblezfactor = 1;
            if (longdobleces >= 1500) {
                longdoblezfactor = 2;
            } 
            
            let costoporpieza = longdoblezfactor*numdobleces*costodoblez*globdoblez;

            costodobleces.value = costoporpieza.toFixed(2) || 0;
        }

        function changeAreaValue(item, materialvalues){

            //  Cálculo del area 
            let largoautocad = parseFloat(document.getElementById('largo_autocad'+item).value) || 0;
            let anchoautocad = parseFloat(document.getElementById('ancho_autocad'+item).value) || 0;
            let factorarea = parseFloat(document.getElementById('factor_area'+item).value) || 0;
            let areaxfactor = document.getElementById('area'+item);
            let globmaterial = document.getElementById('globmaterial').value || 1;

            let area = 0;

            if (largoautocad != 0 && anchoautocad != 0){
                area = (largoautocad+5)*(anchoautocad+5)*factorarea*globmaterial;
            }

            areaxfactor.value = area.toFixed(3);

            //  Cálculo del costo del material por pieza 
            let espesorform = document.getElementById('espesor'+item).value;
            let materialform = document.getElementById('material'+item).value;
            let costomaterialmm2 = materialvalues.filter(el => el.width == espesorform)[0][materialform];
            let costomaterial = document.getElementById('calculomaterial'+item);
            let conmaterial = document.getElementById('con_material'+item);
            let costoporpieza = costomaterialmm2*area; 

            costomaterial.value = conmaterial.value == "Sí"? costoporpieza.toFixed(2) : 0;
        }

        function changeTotalValue(item){

            let valorcorte = parseFloat(document.getElementById('calculocorte'+item).value) || 0;
            let valorpiercing = parseFloat(document.getElementById('calculopiercing'+item).value) || 0;
            let valordoblez = parseFloat(document.getElementById('calculodoblez'+item).value) || 0;
            let valormaterial = parseFloat(document.getElementById('calculomaterial'+item).value) || 0;

            let valortotal = document.getElementById('total'+item);
            let suma = valorcorte + valorpiercing + valordoblez + valormaterial;
            valortotal.value = suma.toFixed(2);
        }

        function changeTotalTotal(){

            let suma = 0;

            for (let i = 1; i <= 60; i++){

                let cantidad = document.getElementById('cantidad'+String(i)).value;
                let costopieza = document.getElementById('total'+String(i)).value;
                let costoextra = document.getElementById('precio'+String(i)).value;

                if (cantidad == NaN && costopieza == NaN && costoextra == NaN){
                    break;
                }

                if (cantidad == NaN){
                    cantidad = 0;
                }

                if (costopieza == NaN){
                    costopieza = 0;
                }

                if (costoextra == NaN){
                    costoextra = 0;
                }
                
                suma = suma + cantidad*costopieza + cantidad*costoextra;
            }

            let totaltotal = document.getElementById('TOTAL');
            totaltotal.value = `Total: $ ${suma.toFixed(0)}`;
        }

        function changeTotalPiezas(item){

            let cantidad = document.getElementById('cantidad'+item).value || 0;
            let costopieza = document.getElementById('total'+item).value || 0;        
            let totaltodas = document.getElementById('totaltodas'+item);
            let totalvalor = parseFloat(cantidad)*parseFloat(costopieza);

            totaltodas.value = totalvalor.toFixed(0);
        }


        //  Muestra las filas con los cálculos 
        function DisplayCalculationsRow(item){

            document.getElementById("calculationsrow" + item).style.display = "table-row";
            document.getElementById("column1" + item).style.visibility = "visible";
            document.getElementById("column2" + item).style.visibility = "visible";
            document.getElementById("column3" + item).style.visibility = "visible";
            document.getElementById("column4" + item).style.visibility = "visible";
            document.getElementById("column5" + item).style.visibility = "visible";
            document.getElementById("column6" + item).style.visibility = "visible";
            document.getElementById("column7" + item).style.visibility = "visible";
            document.getElementById("column8" + item).style.visibility = "visible";
            document.getElementById("column9" + item).style.visibility = "visible";
            document.getElementById("column10" + item).style.visibility = "visible";
            document.getElementById("column11" + item).style.visibility = "visible";
            document.getElementById("column12" + item).style.visibility = "visible";
            document.getElementById("column13" + item).style.visibility = "visible";
            document.getElementById("column14" + item).style.visibility = "visible";
            document.getElementById("column15" + item).style.visibility = "visible";
            document.getElementById("column16" + item).style.visibility = "visible";
            document.getElementById("column17" + item).style.visibility = "visible";
            document.getElementById("column18" + item).style.visibility = "visible";
        }

       // function to show per material and width
        function changePerMaterialWidth(item){

            let espesorform = document.getElementById('espesor'+item).value;
            let materialform = document.getElementById('material'+item).value;

            let espesorformnotspaces = espesorform.replace(/\s/g, '');
            let materialformnotspaces = materialform.replace(/\s/g, '');

            if (espesorform == "" || materialform == ""){
                ;
            } else {

                document.getElementById("contenedortotales").style.display = "block";               

                let casillamaterial = document.getElementById(materialformnotspaces + espesorformnotspaces);
                casillamaterial.style.display = "block";
                let suma = 0;

                for (let i = 1; i <= 60; i++){

                    let espesorformrec = document.getElementById('espesor'+String(i));
                    let materialformrec = document.getElementById('material'+String(i));
                    let calculocorte =  document.getElementById("calculocorte" +String(i)).value || 0;
                    let calculopiercing =  document.getElementById("calculopiercing" +String(i)).value || 0;

                    console.log(calculopiercing)

                    let cantidad = document.getElementById('cantidad'+String(i)).value || 0;

                    if (espesorformrec.value == espesorform && materialformrec.value == materialform){
                        suma += ( parseFloat(calculocorte) + parseFloat(calculopiercing) )*parseFloat(cantidad);
                    }
                }
                casillamaterial.value = "Total corte, "+ materialform + " " + espesorform + ": $ " + String(suma.toFixed(1)); 
            }
        }
        // function to delete non existing material and width
        function cleaniseMaterialWidth(piercingvalues){

            let listmaterial = ["Ac. H.R", "Ac. C.R", "Ac. 1070", "Ac. Inox. 304", "Ac. Inox. 316", "Ac. Inox. 430", "Galv.", "Alum.", "Bronce", "Cobre", "Latón"];

            for(let i = 0; i < piercingvalues.length; i++){
                for(let j = 0; j < listmaterial.length; j++){
                    for (let k = 1; k <= 60; k++){

                        let centinel = 0;

                        let espesorformrec = document.getElementById('espesor'+String(k)).value;
                        let materialformrec = document.getElementById('material'+String(k)).value;

                        let espesorformnotspaces = piercingvalues[i].width.replace(/\s/g, '');
                        let materialformnotspaces = listmaterial[j].replace(/\s/g, '');

                        if (espesorformrec == NaN && materialformrec == NaN){
                            continue;
                        }

                        if (espesorformrec == piercingvalues[i].width && materialformrec == listmaterial[j] ){
                            centinel = 1;
                            break;
                        }

                        if (k==60 && centinel == 0){

                            document.getElementById(materialformnotspaces + espesorformnotspaces).style.display = "none";
                        }
                    }
                }
            }
        }

        function sameNumber(){
            document.getElementById("num").value = document.getElementById("numbercurrent").value;
        }
        function nextNumber(){
            document.getElementById("num").value = document.getElementById("numbernext").value;
        }

        function changeglobalCorte(cortevalues){

            let globalcut = document.getElementById('globcorte').value || 1;

            for (let i = 1; i <= 60; i++){

                let espesorformrec = document.getElementById('espesor'+String(i)).value;
                let materialformrec = document.getElementById('material'+String(i)).value;
                let cantidad = document.getElementById('cantidad'+String(i)).value;
                let descrip = document.getElementById('descrip'+String(i)).value;
                let precio = document.getElementById('precio'+String(i)).value;

                if (espesorformrec == "" && materialformrec=="" && cantidad =="" && descrip =="" && precio ==""){
                    break;
                }    

                if (espesorformrec == "" && materialformrec==""){
                    continue;
                }        

                //  Cálculo del perímetro 
                let perimetroautocad = parseFloat(document.getElementById('perimetro_autocad'+String(i)).value) || 0;
                let factorcorte = parseFloat(document.getElementById('factor_corte'+String(i)).value) || 0;
                let perimetroxfactor = document.getElementById('perimetro'+String(i));
                let perimetro = perimetroautocad*factorcorte*globalcut;

                perimetroxfactor.value = perimetro.toFixed(2);

                 //  Cálculo del costo del corte por pieza 
                let espesorform = document.getElementById('espesor'+String(i)).value;
                let materialform = document.getElementById('material'+String(i)).value;
                let costocortepormm = cortevalues.filter(el => el.width == espesorform)[0][materialform];
                let costocorte = document.getElementById('calculocorte'+String(i));
                let costoporpieza = costocortepormm*perimetro;

                costocorte.value = costoporpieza.toFixed(2) || 0;

                changeTotalValue(i);
                changeTotalPiezas(i);
                changePerMaterialWidth(i);
            }

            changeTotalTotal()
        }

        function changeglobalMaterial(materialvalues){

            let globmaterial = document.getElementById('globmaterial').value || 1;

            for (let i = 1; i <= 60; i++){

                let espesorformrec = document.getElementById('espesor'+String(i)).value;
                let materialformrec = document.getElementById('material'+String(i)).value;
                let cantidad = document.getElementById('cantidad'+String(i)).value;
                let descrip = document.getElementById('descrip'+String(i)).value;
                let precio = document.getElementById('precio'+String(i)).value;

                if (espesorformrec == "" && materialformrec=="" && cantidad =="" && descrip =="" && precio ==""){
                    break;
                }    

                if (espesorformrec == "" && materialformrec==""){
                    continue;
                }      
                
                 //  Cálculo del area 
                let largoautocad = parseFloat(document.getElementById('largo_autocad'+String(i)).value) || 0;
                let anchoautocad = parseFloat(document.getElementById('ancho_autocad'+String(i)).value) || 0;
                let factorarea = parseFloat(document.getElementById('factor_area'+String(i)).value) || 0;
                let areaxfactor = document.getElementById('area'+String(i));
                let area = 0;

                if (largoautocad != 0 && anchoautocad != 0){
                    area = (largoautocad+5)*(anchoautocad+5)*factorarea*globmaterial;
                }

                areaxfactor.value = area.toFixed(3);

                //  Cálculo del costo del material por pieza 
                let espesorform = document.getElementById('espesor'+String(i)).value;
                let materialform = document.getElementById('material'+String(i)).value;
                let costomaterialmm2 = materialvalues.filter(el => el.width == espesorform)[0][materialform];
                let costomaterial = document.getElementById('calculomaterial'+String(i));
                let conmaterial = document.getElementById('con_material'+String(i));
                let costoporpieza = costomaterialmm2*area; 

                costomaterial.value = conmaterial.value == "Sí"? costoporpieza.toFixed(2) : 0;

                changeTotalValue(i);
                changeTotalPiezas(i);
                changePerMaterialWidth(i);
            }

            changeTotalTotal()
        }

        function requiredDoblezValue(item){

            if (document.getElementById('dobleces'+item).value == ''){
                document.getElementById('longitud_doblez'+item).removeAttribute('required','');
            } else{
                document.getElementById('longitud_doblez'+item).setAttribute('required', '');
            }
        }
        
        function requiredCutValue(item){

            if (document.getElementById('perimetro_autocad'+item).value == ''){
                document.getElementById('piercings'+item).removeAttribute('required','');
            } else{
                document.getElementById('piercings'+item).setAttribute('required', '');
            }
        }

        function requiredMaterialValue(item){

            if (document.getElementById('largo_autocad'+item).value == '' && document.getElementById('ancho_autocad'+item).value == ''){
                document.getElementById('con_material'+item).removeAttribute('required','');
            } else{
                document.getElementById('con_material'+item).setAttribute('required', '');
            }
        }

        function validateMaterialWidth(item){
            document.getElementById('espesor'+String(item)).setAttribute('required', '');
            document.getElementById('material'+String(item)).setAttribute('required', '');
        }
        
        function changeglobalDoblez(doblezvalues){

            let globdoblez = document.getElementById('globdoblez').value || 1;

            for (let i = 1; i <= 60; i++){

                let espesorformrec = document.getElementById('espesor'+String(i)).value;
                let materialformrec = document.getElementById('material'+String(i)).value;
                let cantidad = document.getElementById('cantidad'+String(i)).value;
                let descrip = document.getElementById('descrip'+String(i)).value;
                let precio = document.getElementById('precio'+String(i)).value;

                if (espesorformrec == "" && materialformrec=="" && cantidad =="" && descrip =="" && precio ==""){
                    break;
                }    

                if (espesorformrec == "" && materialformrec==""){
                    continue;
                }   

                let espesorform = document.getElementById('espesor'+String(i)).value;
                let costodoblez = doblezvalues.filter(el => el.width == espesorform)[0].fold;
                let costodobleces = document.getElementById('calculodoblez'+String(i));
                let numdobleces = parseFloat(document.getElementById('dobleces'+String(i)).value) || 0;
                let longdobleces = parseFloat(document.getElementById('longitud_doblez'+String(i)).value) || 0;

                let longdoblezfactor = 1;
                if (longdobleces >= 1500) {
                    longdoblezfactor = 2;
                } 
                
                let costoporpieza = longdoblezfactor*numdobleces*costodoblez*globdoblez;

                costodobleces.value = costoporpieza.toFixed(2) || 0;

                changeTotalValue(i);
                changeTotalPiezas(i);
            }

            changeTotalTotal()

        }

        
        function Eliminar(i, piercingvalues){

            document.getElementById('cantidad'+String(i)).value = "";
            document.getElementById('descrip'+String(i)).value = "";
            document.getElementById('precio'+String(i)).value = "";
            document.getElementById('material'+String(i)).value = "";
            document.getElementById('espesor'+String(i)).value = "";
            document.getElementById('perimetro_autocad'+String(i)).value = "";
            document.getElementById('factor_corte'+String(i)).value = 1;
            document.getElementById('perimetro'+String(i)).value = "";
            document.getElementById('largo_autocad'+String(i)).value = "";
            document.getElementById('ancho_autocad'+String(i)).value = "";
            document.getElementById('factor_area'+String(i)).value = 1;
            document.getElementById('area'+String(i)).value = "";
            document.getElementById('piercings'+String(i)).value = "";
            document.getElementById('dobleces'+String(i)).value = "";
            document.getElementById('longitud_doblez'+String(i)).value = "";
            document.getElementById('con_material'+String(i)).value = "";

            document.getElementById('totaltodas'+String(i)).value = 0.0;
            document.getElementById('calculocorte'+String(i)).value = 0.0;
            document.getElementById('calculopiercing'+String(i)).value = 0.0;
            document.getElementById('calculodoblez'+String(i)).value = 0.0;
            document.getElementById('calculomaterial'+String(i)).value = 0.0;
            document.getElementById('total'+String(i)).value = 0.0;

            document.getElementById('calculationsrow'+String(i)).style.display = "none";

            changeTotalValue(i);
            changeTotalPiezas(i);
            cleaniseMaterialWidth(piercingvalues);
            changeTotalTotal();
        }

        function uncheck(i){
            document.getElementById('eliminar'+String(i)).checked = false;
        }

    </script>
</head>
<body>
    <div class = "logoutcontainer">

        <div class = "iconcontainer">

            <a href="/editar-datos">
                <div class="editar-datos">
                    <i class='fas fa-edit'></i>
                </div>
            </a>

            <a href="/logout">
                <div class="log-in">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </div>
            </a>
        </div>
    </div>

    <a href="/inicio"><img src="/images/logo.png" alt="logo"></a>

    <h1 class = "title" style="margin:0px;">Cotización</h1>

    <div class="formcontainer">

        <form action="/cotizacion" method ="post" onkeydown="return event.key != 'Enter';"  onsubmit="return confirm('Está seguro que quiere editar la cotización?');">


            <div class="inputcontainer">
                <h2>Datos de cotización y cliente</h2>
            </div>  

            <input inputmode="numeric" type="number" id="numbernext" style="display: none;" value="<%=nummin + 1%>">
            <input inputmode="numeric" type="number" id="numbercurrent" style="display: none;" value="<%=numcurrent%>">

            <div class="inputcontainer">
                <label for="num">Número de cotización</label>
                <input readonly inputmode="numeric" type="number" id="num" name="num" onkeydown="return false" placeholder = "Ediciones requieren un nuevo número de cotización" required>
            </div>

            <button type="button" class="changenumber" onclick="nextNumber();"   >Cotización diferente</button>
            <button type="button" class="changenumber" onclick="sameNumber();"   >Misma cotización</button>

            <div class="inputcontainer">
                <label for="text">Cliente</label>
                <input type="text" list = "cl" id="cli" name="selectclient" placeholder = "Seleccionar el cliente de la lista, si no se encuentra debe añadirlo" required value = "<%=cotizaciongeneral.client %>" >
                    <datalist id="cl" class = "datalist">
                    <% for (let i = 0; i< clientes.length; i++){ %>
                        <option value="<%= clientes[i].client %>"><%= clientes[i].client %></option>
                    <% } %>
                    </datalist>
           </div>

            <div class="inputcontainer">
                <label for="fecha">Fecha</label>
                <input type="date" id="fecha" name="fecha" onkeydown="return false" required value = "<%=cotizaciongeneral.fecha %>"/>
            </div> 

            <div class="inputcontainer">
                <label for="validez">Validez de la oferta</label>
                <!-- <input type="text" id="validez" name="validez" list = "valid" required value = "<%=cotizaciongeneral.validez %>">
                <datalist id="valid">
                    <option value="5 días">5 días</option>
                    <option value="10 días">10 días</option>
                    <option value="15 días">15 días</option>
                    <option value="20 días">20 días</option>
                    <option value="30 días">30 días</option>
                </datalist> -->
                <select type="text" id="validez" name="validez" list = "valid" required>
                    <option value = "<%=cotizaciongeneral.validez%>" selected><%=cotizaciongeneral.validez%></option>
                    <option value=""></option>
                    <option value="1 día">1 día</option>
                    <option value="2 días">2 días</option>
                    <option value="3 días">3 días</option>
                    <option value="4 días">4 días</option>
                    <option value="5 días">5 días</option>
                    <option value="6 días">6 días</option>
                    <option value="7 días">7 días</option>
                    <option value="8 días">8 días</option>
                    <option value="9 días">9 días</option>
                    <option value="10 días">10 días</option>
                    <option value="11 días">11 días</option>
                    <option value="12 días">12 días</option>
                    <option value="13 días">13 días</option>
                    <option value="14 días">14 días</option>
                    <option value="15 días">15 días</option>
                    <option value="16 días">16 días</option>
                    <option value="17 días">17 días</option>
                    <option value="18 días">18 días</option>
                    <option value="19 días">19 días</option>
                    <option value="20 días">20 días</option>
                    <option value="21 días">21 días</option>
                    <option value="22 días">22 días</option>
                    <option value="23 días">23 días</option>
                    <option value="24 días">24 días</option>
                    <option value="25 días">25 días</option>
                    <option value="26 días">26 días</option>
                    <option value="27 días">27 días</option>
                    <option value="28 días">28 días</option>
                    <option value="29 días">29 días</option>
                    <option value="30 días">30 días</option>
                </select>
            </div>    

            <div class="inputcontainer">
                <label for="entrega">Tiempo de entrega</label>
                <!-- <input type="text" id="entrega" name="entrega" list = "deliv" required value = "<%=cotizaciongeneral.entrega %>">
                <datalist id="deliv">
                    <option value="1 día hábil">1 día hábil</option>
                    <option value="2 días hábiles">2 días hábiles</option>
                    <option value="3 días hábiles">3 días hábiles</option>
                    <option value="4 días hábiles">4 días hábiles</option>
                    <option value="5 días hábiles">5 días hábiles</option>
                    <option value="10 días hábiles">10 días hábiles</option>
                    <option value="15 días hábiles">15 días hábiles</option>
                    <option value="20 días hábiles">20 días hábiles</option>
                    <option value="30 días hábiles">30 días hábiles</option>
                </datalist> -->
                <select type="text" id="entrega" name="entrega" list = "deliv" required>
                    <option value = "<%=cotizaciongeneral.entrega %>" selected><%=cotizaciongeneral.entrega %></option>
                    <option value=""></option>
                    <option value="1 día hábil">1 día hábil</option>
                    <option value="2 días hábiles">2 días hábiles</option>
                    <option value="3 días hábiles">3 días hábiles</option>
                    <option value="4 días hábiles">4 días hábiles</option>
                    <option value="5 días hábiles">5 días hábiles</option>
                    <option value="6 días hábiles">6 días hábiles</option>
                    <option value="7 días hábiles">7 días hábiles</option>
                    <option value="8 días hábiles">8 días hábiles</option>
                    <option value="9 días hábiles">9 días hábiles</option>
                    <option value="10 días hábiles">10 días hábiles</option>
                    <option value="11 días hábiles">11 días hábiles</option>
                    <option value="12 días hábiles">12 días hábiles</option>
                    <option value="13 días hábiles">13 días hábiles</option>
                    <option value="14 días hábiles">14 días hábiles</option>
                    <option value="15 días hábiles">15 días hábiles</option>
                    <option value="16 días hábiles">16 días hábiles</option>
                    <option value="17 días hábiles">17 días hábiles</option>
                    <option value="18 días hábiles">18 días hábiles</option>
                    <option value="19 días hábiles">19 días hábiles</option>
                    <option value="20 días hábiles">20 días hábiles</option>
                    <option value="21 días hábiles">21 días hábiles</option>
                    <option value="22 días hábiles">22 días hábiles</option>
                    <option value="23 días hábiles">23 días hábiles</option>
                    <option value="24 días hábiles">24 días hábiles</option>
                    <option value="25 días hábiles">25 días hábiles</option>
                    <option value="26 días hábiles">26 días hábiles</option>
                    <option value="27 días hábiles">27 días hábiles</option>
                    <option value="28 días hábiles">28 días hábiles</option>
                    <option value="29 días hábiles">29 días hábiles</option>
                    <option value="30 días hábiles">30 días hábiles</option>
                </select>
            </div>       

            <div class="inputcontainer">
                <label for="condiciones">Condiciones de pago</label>
                <!-- <input type="text" list = "cond" name="selectcondiciones" required value = "<%=cotizaciongeneral.condiciones %>">
                <datalist id="cond">
                    <option value="Contado">Contado</option>
                    <option value="Crédito a 15 días">Crédito a 15 días</option>
                    <option value="Crédito a 30 días">Crédito a 30 días</option>
                    <option value="Contra entrega">Contra entrega</option>
                </datalist> -->
                <select type="text" list = "cond" name="selectcondiciones" required>
                    <option  value = "<%=cotizaciongeneral.condiciones %>" selected><%=cotizaciongeneral.condiciones %></option>
                    <option value=""></option>
                    <option value="Contado">Contado</option>
                    <option value="Anticipo y crédito">Anticipo y crédito</option>
                    <option value="Contra entrega">Contra entrega</option>
                </select>
            </div>    
            
            <div class="inputcontainer" style="display:none;">
                <label for="estado" style="display:none;">Estado</label>
                <select name="selectestado" style="display:none;" required>
                    <option value = "<%= cotizaciongeneral.estado %>" selected><%= cotizaciongeneral.estado %></option>
                    <option value=""></option>
                    <option value="Aprobado">Aprobado</option>
                    <option value="En trámite">En trámite</option>
                    <option value="No aprobado">No aprobado</option>
                </select>
            </div>    

            <div class="inputcontainer" style="display:none;">
                <label for="fecha_aprobacion" style="display:none;">Fecha de aprobación</label>
                <input type="date" id="fecha_aprobacion" name="fecha_aprobacion" style="display:none;" onkeydown="return false" value = "<%=cotizaciongeneral.aprobacion %>"/>
            </div>   

            <div class="inputcontainer">
                <label for="proyecto">Proyecto</label>
                <input type="text" id="proyecto" name="proyecto" required value = "<%=cotizaciongeneral.proyecto %>">
            </div>  

            <div class="inputcontainer">
                <h2>Condiciones comerciales</h2>
            </div>  

            <div class="inputcontainer">
                <label for="condiciones_com">Forma de pago</label>
                <!-- <input type="text" list = "payment" name="forma_pago" required value = "<%=cotizaciongeneral.pago %>">
                <datalist id="payment">
                    <option value="Forma de Pago: Contra Entrega.">Forma de Pago: Contra Entrega.</option>
                    <option value="Forma de Pago: 50% Anticipo y 50% Contra Entrega.">Forma de Pago: 50% Anticipo y 50% Contra Entrega.</option>
                    <option value="Forma de Pago: 100% de Anticipo.">Forma de Pago: 100% de Anticipo.</option>
                    <option value="Forma de Pago: Crédito a 15 días.">Forma de Pago: Crédito a 15 días.</option>
                    <option value="Forma de Pago: Crédito a 30 días.">Forma de Pago: Crédito a 30 días.</option>
                </datalist> -->
                <select type="text" list = "payment" name="forma_pago" required>
                    <option  value = "<%=cotizaciongeneral.pago %>" selected><%=cotizaciongeneral.pago %></option>
                    <option value=""></option>
                    <option value="Forma de Pago: Contra Entrega.">Forma de Pago: Contra Entrega.</option>
                    <option value="Forma de Pago: 50% Anticipo y 50% Contra Entrega.">Forma de Pago: 50% Anticipo y 50% Contra Entrega.</option>
                    <option value="Forma de Pago: 100% de Anticipo.">Forma de Pago: 100% de Anticipo.</option>
                    <option value="Forma de Pago: Crédito a 5 días.">Forma de Pago: Crédito a 5 días.</option>
                    <option value="Forma de Pago: Crédito a 7 días.">Forma de Pago: Crédito a 7 días.</option>
                    <option value="Forma de Pago: Crédito a 10 días.">Forma de Pago: Crédito a 10 días.</option>
                    <option value="Forma de Pago: Crédito a 15 días.">Forma de Pago: Crédito a 15 días.</option>
                    <option value="Forma de Pago: Crédito a 20 días.">Forma de Pago: Crédito a 20 días.</option>
                    <option value="Forma de Pago: Crédito a 30 días.">Forma de Pago: Crédito a 30 días.</option>
                    <option value="Forma de Pago: Crédito a 45 días.">Forma de Pago: Crédito a 45 días.</option>
                    <option value="Forma de Pago: Crédito a 60 días.">Forma de Pago: Crédito a 60 días.</option>
                </select>
            </div>    

            <div class="inputcontainer">

                <label for="transport">Transporte</label>
                <!-- <input type="text" list = "trans" name="transporte" required  value = "<%=cotizaciongeneral.transporte %>">
                <datalist id="trans">
                    <option value="El servicio no incluye transporte.">El servicio no incluye transporte.</option>
                    <option value="El servicio si incluye transporte.">El servicio si incluye transporte.</option>
                </datalist> -->
                <select type="text" list = "trans" name="transporte" required >
                    <option value = "<%=cotizaciongeneral.transporte %>" selected><%=cotizaciongeneral.transporte %></option>
                    <option value=""></option>
                    <option value="El servicio no incluye transporte.">El servicio no incluye transporte.</option>
                    <option value="El servicio si incluye transporte.">El servicio si incluye transporte.</option>
                </select>
            </div>    

            <div class="inputcontainer">

                <label for="materiales">Materiales</label>
                <!-- <input type="text" list = "mat" name="materiales" required  value = "<%=cotizaciongeneral.materiales %>">
                <datalist id="mat">
                    <option value="El servicio no incluye materiales.">El servicio no incluye materiales.</option>
                    <option value="El servicio si incluye materiales.">El servicio si incluye materiales.</option>
                    <option value="El servicio incluye algunos materiales.">El servicio incluye algunos materiales.</option>
                </datalist> -->
                <select type="text" list = "mat" name="materiales" required>
                    <option  value = "<%=cotizaciongeneral.materiales %>" selected><%=cotizaciongeneral.materiales %></option>
                    <option value=""></option>
                    <option value="El servicio no incluye materiales.">El servicio no incluye materiales.</option>
                    <option value="El servicio si incluye materiales.">El servicio si incluye materiales.</option>
                    <option value="El servicio incluye algunos materiales.">El servicio incluye algunos materiales.</option>
                </select>
            </div>   

            <div class="inputcontainer">
                <h2>Observaciones</h2>
            </div>  

            <div class="inputcontainer">
                <input type="text" id="observ1" name="observ1" placeholder = "Observación 1"  value = "<%=cotizaciongeneral.observ1 %>">
            </div>  
            
            <div class="inputcontainer">
                <input type="text" id="observ2" name="observ2" placeholder = "Observación 2"  value = "<%=cotizaciongeneral.observ2 %>">
            </div>  

            <div class="inputcontainer">
                <h2>Datos</h2>
            </div>  

            <div class="inputcontainer">
                <label for="factorglobalcorte">Factor global corte:</label>
                <input type="number" step="0.0001" id="globcorte" name="globcorte" value="<%=globalparams[0].globalcorte%>" min ="0.0001" class="globalfactor"  onchange="changeglobalCorte(<%= JSON.stringify(corte) %>);" required>
            </div>  
            
            <div class="inputcontainer">
                <label for="factorglobalmaterial">Factor global material:</label>
                <input type="number" step="0.0001" id="globmaterial" name="globmaterial" value="<%=globalparams[0].globalmaterial%>" min ="0.0001" class="globalfactor"  onchange="changeglobalMaterial(<%= JSON.stringify(material) %>);" required>
            </div>  
            
            <div class="inputcontainer">
                <label for="factorglobaldoblez">Factor global doblez:</label>
                <input type="number" step="0.0001" id="globdoblez" name="globdoblez" value="<%=globalparams[0].globaldoblez%>" min ="0.0001" class="globalfactor"  onchange="changeglobalDoblez(<%= JSON.stringify(doblez) %>);" required>
            </div>   

            <div class="inputcontainer tabladatos">
                    
                <table>
                    <tr>
                    <th class="item">Item</th>
                    <th>Cantidad</th>
                    <th>Descripción</th>
                    <th>Precio unitario</th>
                    <th>Material</th>
                    <th>Espesor</th>
                    <th>Perímetro AutoCad (mm)</th>
                    <th>Factor de corte</th>
                    <th>Perímetro (mm)</th>
                    <th>Largo AutoCad (mm)</th>
                    <th>Ancho AutoCad (mm)</th>
                    <th>Factor de área</th>
                    <th>Área (mm²)</th>
                    <th>Cantidad de piercings por pieza</th>
                    <th>Dobleces por pieza</th>
                    <th>Longitud doblez (mm)</th>
                    <th>Con material</th>
                    <th>Borrar fila</th>
                    </tr>

                    <% for (let i = 1; i <= filas.length ; i++){ %>
                        <tr>
                        <td class="item"><%= i %></td>
                        <td width = "50px"><input type="number" id="<%= "cantidad" + String(i) %>" name="<%= "cantidad" + String(i) %>" value = "<%= filas[i-1].cantidad %>"  onchange="uncheck(<%= String(i)%>);          changeTotalTotal();   changeTotalPiezas(<%= String(i)%>);   changePerMaterialWidth(<%= String(i)%>);" ></td>
                        <td width = "220px"><input type="text" id="<%= "descrip" + String(i) %>" name="<%= "descrip" + String(i) %>" value = "<%= filas[i-1].descripcion %>"></td>
                        <td width = "80px"><input type="number" id="<%= "precio" + String(i) %>" name="<%= "precio" + String(i) %>"
                            <% if (filas[i-1].precio == 0) {%>
                                value = ""
                            <% } else {%>
                                value = "<%= filas[i-1].precio %>"
                            <% } %>
                            onchange="uncheck(<%= String(i)%>);          changeTotalTotal();"></td>
                        <td width = "110px"><select  id="<%= "material" + String(i) %>"   name="<%= "material" + String(i) %>"     onchange="uncheck(<%= String(i)%>);          changeCutValue(<%= String(i) %>, <%= JSON.stringify(corte) %>);   changeAreaValue(<%= String(i) %>, <%= JSON.stringify(material) %>);   changeTotalValue(<%= String(i) %>);   changeTotalTotal();       changeTotalPiezas(<%= String(i)%>);   changePerMaterialWidth(<%= String(i)%>);     cleaniseMaterialWidth(<%= JSON.stringify(piercing) %>);">
                            <option value = "<%= filas[i-1].material %>" selected><%= filas[i-1].material %></option>
                            <option value=""></option>
                            <option value="Ac. Inox. 304">Ac. Inox. 304</option>
                            <option value="Ac. Inox. 316">Ac. Inox. 316</option>
                            <option value="Ac. Inox. 430">Ac. Inox. 430</option>
                            <option value="Ac. 1070">Ac. 1070</option>
                            <option value="Ac. H.R">Ac. H.R</option>
                            <option value="Ac. C.R">Ac. C.R</option>
                            <option value="Galv.">Galv.</option>
                            <option value="Alum.">Alum.</option>
                            <option value="Bronce">Bronce</option>
                            <option value="Cobre">Cobre</option>
                            <option value="Latón">Latón</option>
                        </select></td>
                        <td width = "120px"><select   id="<%= "espesor" + String(i) %>"    name="<%= "espesor" + String(i) %>"     onchange="uncheck(<%= String(i)%>);          DisplayCalculationsRow(<%= String(i) %>);    changeCutValue(<%= String(i) %>, <%= JSON.stringify(corte) %>);   changePiercingValue(<%= String(i) %>, <%= JSON.stringify(piercing) %>);     changeDoblezValue(<%= String(i) %>, <%= JSON.stringify(doblez) %>);   changeAreaValue(<%= String(i) %>, <%= JSON.stringify(material) %>);   changeTotalValue(<%= String(i) %>);   changeTotalTotal();      changeTotalPiezas(<%= String(i)%>);     changePerMaterialWidth(<%= String(i)%>);   cleaniseMaterialWidth(<%= JSON.stringify(piercing) %>);">
                            <option value = "<%= filas[i-1].espesor %>" selected><%= filas[i-1].espesor %></option>
                            <option value=""></option>
                            <option value="Cal. 26 (0.4 mm)">Cal. 26 (0.4 mm)</option>
                            <option value="Cal. 24 (0.6 mm)">Cal. 24 (0.6 mm)</option>
                            <option value="Cal. 23 (0.7 mm)">Cal. 23 (0.7 mm)</option>
                            <option value="Cal. 20 (0.9 mm)">Cal. 20 (0.9 mm)</option>
                            <option value="Cal. 19 (1 mm)">Cal. 19 (1 mm)</option>
                            <option value="Cal. 18 (1.2 mm)">Cal. 18 (1.2 mm)</option>
                            <option value="Cal. 16 (1.5 mm)">Cal. 16 (1.5 mm)</option>
                            <option value="Cal. 14 (1.9 mm)">Cal. 14 (1.9 mm)</option>
                            <option value="Cal. 13 (2.2 mm)">Cal. 13 (2.2 mm)</option>
                            <option value="Cal. 12 (2.6 mm)">Cal. 12 (2.6 mm)</option>
                            <option value="Cal. 11 (3.0 mm)">Cal. 11 (3.0 mm)</option>
                            <option value="Cal. 10 (3.4 mm)">Cal. 10 (3.4 mm)</option>
                            <option value="Cal. 9 (3.8 mm)">Cal. 9 (3.8 mm)</option>
                            <option value="Cal. 8 (4.2 mm)">Cal. 8 (4.2 mm)</option>
                            <option value="Cal. 7 (4.5 mm)">Cal. 7 (4.5 mm)</option>
                            <option value="Cal. 6 (4.9 mm)">Cal. 6 (4.9 mm)</option>
                            <option value="Cal. 5 (5.3 mm)">Cal. 5 (5.3 mm)</option>
                            <option value="Cal. 4 (5.7 mm)">Cal. 4 (5.7 mm)</option>
                            <option value="Cal. 3 (6.0 mm)">Cal. 3 (6.0 mm)</option>
                            <option value="Cal. 1/2">Cal. 1/2"</option>
                            <option value="Cal. 3/8">Cal. 3/8"</option>
                            <option value="Cal. 5/16">Cal. 5/16"</option>
                            <option value="Cal. 1/4">Cal. 1/4"</option>
                            <option value="Cal. 3/16">Cal. 3/16"</option>
                            <option value="Cal. 1/8">Cal. 1/8"</option>
                            <option value="Cal. 1/16">Cal. 1/16"</option>
                        </select></td>
                        <td><input type="number" step="0.0001" id="<%= "perimetro_autocad" + String(i) %>" name="<%= "perimetro_autocad" + String(i) %>"       onchange="validateMaterialWidth(<%= String(i) %>);       requiredCutValue(<%= String(i) %>);        changeCutValue(<%= String(i) %>, <%= JSON.stringify(corte) %>);   changeTotalValue(<%= String(i) %>);   changeTotalTotal();    changeTotalPiezas(<%= String(i)%>);      changePerMaterialWidth(<%= String(i)%>);" 
                            <% if (filas[i-1].perimetroautocad == 0) {%>
                                value = ""
                            <% } else {%>
                                value = "<%= filas[i-1].perimetroautocad %>"
                            <% } %>
                            ></td>
                        <td><input type="number" step="0.0001" id="<%= "factor_corte" + String(i) %>" name="<%= "factor_corte" + String(i) %>"        onchange="changeCutValue(<%= String(i) %>, <%= JSON.stringify(corte) %>);   changeTotalValue(<%= String(i) %>);   changeTotalTotal();       changeTotalPiezas(<%= String(i)%>);     changePerMaterialWidth(<%= String(i)%>);" 
                            <% if (filas[i-1].factorcorte == 0) {%>
                                value = ""
                            <% } else {%>
                                value = "<%= filas[i-1].factorcorte %>"
                            <% } %>
                            ></td>
                        <td><input readonly type="text" class ="cannotchange" id="<%= "perimetro" + String(i) %>" name="<%= "perimetro" + String(i) %>" onkeydown="return false;" 
                            <% if (filas[i-1].perimetro == 0) {%>
                                value = ""
                            <% } else {%>
                                value = "<%= filas[i-1].perimetro %>"
                            <% } %>
                            ></td>
                        <td><input type="number" step="0.0001" id="<%= "largo_autocad" + String(i) %>" name="<%= "largo_autocad" + String(i) %>"        onchange="validateMaterialWidth(<%= String(i) %>);       requiredMaterialValue(<%= String(i) %>);       changeAreaValue(<%= String(i) %>, <%= JSON.stringify(material) %>);   changeTotalValue(<%= String(i) %>);   changeTotalTotal();     changeTotalPiezas(<%= String(i)%>);    changePerMaterialWidth(<%= String(i)%>);" 
                            <% if (filas[i-1].largoautocad == 0) {%>
                                value = ""
                            <% } else {%>
                                value = "<%= filas[i-1].largoautocad %>"
                            <% } %>
                            ></td>
                        <td><input type="number" step="0.0001" id="<%= "ancho_autocad" + String(i) %>" name="<%= "ancho_autocad" + String(i) %>"       onchange="validateMaterialWidth(<%= String(i) %>);       requiredMaterialValue(<%= String(i) %>);       changeAreaValue(<%= String(i) %>, <%= JSON.stringify(material) %>);   changeTotalValue(<%= String(i) %>);   changeTotalTotal();     changeTotalPiezas(<%= String(i)%>);     changePerMaterialWidth(<%= String(i)%>);" 
                            <% if (filas[i-1].anchoautocad == 0) {%>
                                value = ""
                            <% } else {%>
                                value = "<%= filas[i-1].anchoautocad %>"
                            <% } %>
                            ></td>
                        <td><input type="number" step="0.0001" id="<%= "factor_area" + String(i) %>" name="<%= "factor_area" + String(i) %>"        onchange="changeAreaValue(<%= String(i) %>, <%= JSON.stringify(material) %>);   changeTotalValue(<%= String(i) %>);   changeTotalTotal();      changeTotalPiezas(<%= String(i)%>);     changePerMaterialWidth(<%= String(i)%>);"
                            <% if (filas[i-1].factorarea == 0) {%>
                                value = ""
                            <% } else {%>
                                value = "<%= filas[i-1].factorarea %>"
                            <% } %>
                            ></td>
                        <td><input readonly type="text" class ="cannotchange" id="<%= "area" + String(i) %>" name="<%= "area" + String(i) %>" onkeydown="return false;"
                            <% if (filas[i-1].area == 0) {%>
                                value = ""
                            <% } else {%>
                                value = "<%= filas[i-1].area %>"
                            <% } %>
                            ></td>
                        <td><input type="number" id="<%= "piercings" + String(i) %>" name="<%= "piercings" + String(i) %>"        onchange="changePiercingValue(<%= String(i) %>, <%= JSON.stringify(piercing) %>);   changeTotalValue(<%= String(i) %>);   changeTotalTotal();     changeTotalPiezas(<%= String(i)%>);    changePerMaterialWidth(<%= String(i)%>);"
                            <% if (filas[i-1].piercings == 0) {%>
                                value = ""
                            <% } else {%>
                                value = "<%= filas[i-1].piercings %>"
                            <% } %>
                            ></td>
                        <td><input type="number" id="<%= "dobleces" + String(i) %>" name="<%= "dobleces" + String(i) %>"       onchange="validateMaterialWidth(<%= String(i) %>);       requiredDoblezValue(<%= String(i) %>);      changeDoblezValue(<%= String(i) %>, <%= JSON.stringify(doblez) %>);   changeTotalValue(<%= String(i) %>);   changeTotalTotal();    changeTotalPiezas(<%= String(i)%>);     changePerMaterialWidth(<%= String(i)%>);"
                            <% if (filas[i-1].dobleces == 0) {%>
                                value = ""
                            <% } else {%>
                                value = "<%= filas[i-1].dobleces %>"
                            <% } %>
                            ></td>
                        <td><input type="number" step="0.0001" id="<%= "longitud_doblez" + String(i) %>" name="<%= "longitud_doblez" + String(i) %>"       onchange="changeDoblezValue(<%= String(i) %>, <%= JSON.stringify(doblez) %>);   changeTotalValue(<%= String(i) %>);   changeTotalTotal();      changeTotalPiezas(<%= String(i)%>);     changePerMaterialWidth(<%= String(i)%>);"
                            <% if (filas[i-1].longdoblez == 0) {%>
                                value = ""
                            <% } else {%>
                                value = "<%= filas[i-1].longdoblez %>"
                            <% } %>
                            ></td>
                        <td><select   id="<%= "con_material" + String(i) %>"      name="<%= "con_material" + String(i) %>"        onchange="changeAreaValue(<%= String(i) %>, <%= JSON.stringify(material) %>);  changeTotalValue(<%= String(i) %>);   changeTotalTotal();      changeTotalPiezas(<%= String(i)%>);     changePerMaterialWidth(<%= String(i)%>);">
                            <option value = "<%= filas[i-1].conmaterial %>"><%= filas[i-1].conmaterial %></option>
                            <option value=""></option>
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select></td>
                        <td><input type="checkbox" id="<%= "eliminar" + String(i) %>" name="<%= "eliminar" + String(i) %>" onchange="Eliminar(<%= String(i) %>, <%= JSON.stringify(piercing) %>);" ></td>
                        </tr>
<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
                        <tr class="calculationsrow"  id="<%= "calculationsrow" + String(i) %>" 

                            <% if ( typeof filas[i-1].precio == "number") {%>
                                style="display: none;"
                            <% } else {%>
                                style="display: table-row;"
                            <% } %>> 


                            <td <% if ( typeof filas[i-1].precio == "number") {%>
                                style="visibility: hidden;"
                            <% } else {%>
                                style="visibility: visible;"
                            <% } %>  id="<%= "column1" + String(i) %>"></td>

                        
                            <td <% if ( typeof filas[i-1].precio == "number") {%>
                                style="visibility: hidden;"
                            <% } else {%>
                                style="visibility: visible;"
                            <% } %>   id="<%= "column2" + String(i) %>" >Valor total:</td>


                            <td <% if ( typeof filas[i-1].precio == "number") {%>
                                style="visibility: hidden;"
                            <% } else {%>
                                style="visibility: visible;"
                            <% } %> id="<%= "column3" + String(i) %>"><input readonly type="text" id="<%= "totaltodas" + String(i) %>" onkeydown="return false;"
                            <% if ( typeof filas[i-1].precio != "number") {%>
                                value = "<%= parseFloat(precios[i-1].total).toFixed(0) %>"
                            <% } %> ></td>
                           

                            <td <% if ( typeof filas[i-1].precio == "number") {%>
                                style="visibility: hidden;"
                            <% } else {%>
                                style="visibility: visible;"
                            <% } %> id="<%= "column4" + String(i) %>">Valor corte:</td>

                        
                            <td <% if ( typeof filas[i-1].precio == "number") {%>
                                style="visibility: hidden;"
                            <% } else {%>
                                style="visibility: visible;"
                            <% } %>  id="<%= "column5" + String(i) %>"><input readonly type="text" id="<%= "calculocorte" + String(i) %>" onkeydown="return false;"
                            <% if ( typeof filas[i-1].precio != "number") {%>
                                value = "<%= precios[i-1].corte %>"  
                            <% } %>
                            ></td>

                            
                            <td <% if ( typeof filas[i-1].precio == "number") {%>
                                style="visibility: hidden;"
                            <% } else {%>
                                style="visibility: visible;"
                            <% } %>  id="<%= "column6" + String(i) %>">Valor piercing:</td>

                            
                            <td <% if ( typeof filas[i-1].precio == "number") {%>
                                style="visibility: hidden;"
                            <% } else {%>
                                style="visibility: visible;"
                            <% } %>  id="<%= "column7" + String(i) %>"><input readonly type="text" id="<%= "calculopiercing" + String(i) %>"  onkeydown="return false;" 
                            <% if ( typeof filas[i-1].precio != "number") {%>
                                value = "<%= precios[i-1].piercing %>"  
                            <% } %>></td>
                            

                            <td <% if ( typeof filas[i-1].precio == "number") {%>
                                style="visibility: hidden;"
                            <% } else {%>
                                style="visibility: visible;"
                            <% } %> id="<%= "column8" + String(i) %>">Valor doblez:</td>
                            

                            <td <% if ( typeof filas[i-1].precio == "number") {%>
                                style="visibility: hidden;"
                            <% } else {%>
                                style="visibility: visible;"
                            <% } %> id="<%= "column9" + String(i) %>"><input readonly type="text" id="<%= "calculodoblez" + String(i) %>"  onkeydown="return false;"
                            <% if ( typeof filas[i-1].precio != "number") {%>
                                value = "<%= precios[i-1].doblez %>"  
                            <% } %>></td>
                            

                            <td <% if ( typeof filas[i-1].precio == "number") {%>
                                style="visibility: hidden;"
                            <% } else {%>
                                style="visibility: visible;"
                            <% } %> id="<%= "column10" + String(i) %>">Valor material:</td>
                            

                            <td <% if ( typeof filas[i-1].precio == "number") {%>
                                style="visibility: hidden;"
                            <% } else {%>
                                style="visibility: visible;"
                            <% } %> id="<%= "column11" + String(i) %>"><input readonly type="text" id="<%= "calculomaterial" + String(i) %>"  onkeydown="return false;"
                            <% if ( typeof filas[i-1].precio != "number") {%>
                                value = "<%= precios[i-1].material %>"  
                            <% } %>></td>
                            

                            <td <% if ( typeof filas[i-1].precio == "number") {%>
                                style="visibility: hidden;"
                            <% } else {%>
                                style="visibility: visible;"
                            <% } %> id="<%= "column12" + String(i) %>">Valor unitario:</td>
                            

                            <td <% if ( typeof filas[i-1].precio == "number") {%>
                                style="visibility: hidden;"
                            <% } else {%>
                                style="visibility: visible;"
                            <% } %> id="<%= "column13" + String(i) %>"><input readonly type="text" id="<%= "total" + String(i) %>"  onkeydown="return false;"
                            <% if ( typeof filas[i-1].precio != "number") {%>
                                value = "<%= precios[i-1].totalporpieza %>"  
                            <% } %>></td>
                            

                            <td <% if ( typeof filas[i-1].precio == "number") {%>
                                style="visibility: hidden;"
                            <% } else {%>
                                style="visibility: visible;"
                            <% } %> id="<%= "column14" + String(i) %>"> </td>
                            

                            <td <% if ( typeof filas[i-1].precio == "number") {%>
                                style="visibility: hidden;"
                            <% } else {%>
                                style="visibility: visible;"
                            <% } %> id="<%= "column15" + String(i) %>"> </td>
                            

                            <td <% if ( typeof filas[i-1].precio == "number") {%>
                                style="visibility: hidden;"
                            <% } else {%>
                                style="visibility: visible;"
                            <% } %> id="<%= "column16" + String(i) %>"> </td>
                            

                            <td <% if ( typeof filas[i-1].precio == "number") {%>
                                style="visibility: hidden;"
                            <% } else {%>
                                style="visibility: visible;"
                            <% } %> id="<%= "column17" + String(i) %>"> </td>

                            
                            <td <% if ( typeof filas[i-1].precio == "number") {%>
                                style="visibility: hidden;"
                            <% } else {%>
                                style="visibility: visible;"
                            <% } %> id="<%= "column18" + String(i) %>"> </td>
                        </tr>

                    <% } %>
<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

                    <% for (let j = filas.length + 1; j <= 60; j++){ %>
                        <tr>
                        <td class="item"><%= j %></td>
                        <td width = "50px"><input type="number" id="<%= "cantidad" + String(j) %>" name="<%= "cantidad" + String(j) %>"  onchange="uncheck(<%= String(j)%>);          changeTotalTotal();   changeTotalPiezas(<%= String(j)%>);            changePerMaterialWidth(<%= String(j)%>);"></td>
                        <td width = "220px"><input type="text" id="<%= "descrip" + String(j) %>" name="<%= "descrip" + String(j) %>"></td>
                        <td width = "80px"><input type="number" id="<%= "precio" + String(j) %>" name="<%= "precio" + String(j) %>"  onchange="uncheck(<%= String(j)%>);          changeTotalTotal();"></td>
                        <td width = "110px"><select id="<%= "material" + String(j) %>" name="<%= "material" + String(j) %>" onchange="uncheck(<%= String(j)%>);          changeCutValue(<%= String(j) %>, <%= JSON.stringify(corte) %>);   changeAreaValue(<%= String(j) %>, <%= JSON.stringify(material) %>);   changeTotalValue(<%= String(j) %>);   changeTotalTotal();       changeTotalPiezas(<%= String(j)%>);         changePerMaterialWidth(<%= String(j)%>);       cleaniseMaterialWidth(<%= JSON.stringify(piercing) %>);">
                            <option value=""></option>
                            <option value="Ac. Inox. 304">Ac. Inox. 304</option>
                            <option value="Ac. Inox. 316">Ac. Inox. 316</option>
                            <option value="Ac. Inox. 430">Ac. Inox. 430</option>
                            <option value="Ac. H.R">Ac. H.R</option>
                            <option value="Ac. C.R">Ac. C.R</option>
                            <option value="Galv.">Galv.</option>
                            <option value="Alum.">Alum.</option>
                            <option value="Bronce">Bronce</option>
                            <option value="Cobre">Cobre</option>
                            <option value="Latón">Latón</option>
                        </select></td>
                        <td width = "120px"><select id="<%= "espesor" + String(j) %>" name="<%= "espesor" + String(j) %>" onchange="uncheck(<%= String(j)%>);          DisplayCalculationsRow(<%= String(j) %>);    changeCutValue(<%= String(j) %>, <%= JSON.stringify(corte) %>);   changePiercingValue(<%= String(j) %>, <%= JSON.stringify(piercing) %>);     changeDoblezValue(<%= String(j) %>, <%= JSON.stringify(doblez) %>);   changeAreaValue(<%= String(j) %>, <%= JSON.stringify(material) %>);   changeTotalValue(<%= String(j) %>);   changeTotalTotal();      changeTotalPiezas(<%= String(j)%>);         changePerMaterialWidth(<%= String(j)%>);       cleaniseMaterialWidth(<%= JSON.stringify(piercing) %>);">
                            <option value=""></option>
                            <option value="Cal. 20 (0.9 mm)">Cal. 20 (0.9 mm)</option>
                            <option value="Cal. 19 (1 mm)">Cal. 19 (1 mm)</option>
                            <option value="Cal. 18 (1.2 mm)">Cal. 18 (1.2 mm)</option>
                            <option value="Cal. 16 (1.5 mm)">Cal. 16 (1.5 mm)</option>
                            <option value="Cal. 14 (1.9 mm)">Cal. 14 (1.9 mm)</option>
                            <option value="Cal. 13 (2.2 mm)">Cal. 13 (2.2 mm)</option>
                            <option value="Cal. 12 (2.6 mm)">Cal. 12 (2.6 mm)</option>
                            <option value="Cal. 11 (3.0 mm)">Cal. 11 (3.0 mm)</option>
                            <option value="Cal. 10 (3.4 mm)">Cal. 10 (3.4 mm)</option>
                            <option value="Cal. 9 (3.8 mm)">Cal. 9 (3.8 mm)</option>
                            <option value="Cal. 8 (4.2 mm)">Cal. 8 (4.2 mm)</option>
                            <option value="Cal. 7 (4.5 mm)">Cal. 7 (4.5 mm)</option>
                            <option value="Cal. 6 (4.9 mm)">Cal. 6 (4.9 mm)</option>
                            <option value="Cal. 5 (5.3 mm)">Cal. 5 (5.3 mm)</option>
                            <option value="Cal. 4 (5.7 mm)">Cal. 4 (5.7 mm)</option>
                            <option value="Cal. 3 (6.0 mm)">Cal. 3 (6.0 mm)</option>
                            <option value="Cal. 1/2">Cal. 1/2"</option>
                            <option value="Cal. 3/8">Cal. 3/8"</option>
                            <option value="Cal. 5/16">Cal. 5/16"</option>
                            <option value="Cal. 1/4">Cal. 1/4"</option>
                            <option value="Cal. 3/16">Cal. 3/16"</option>
                            <option value="Cal. 1/8">Cal. 1/8"</option>
                            <option value="Cal. 1/16">Cal. 1/16"</option>
                        </select></td>
                        <td><input type="number" step="0.0001" id="<%= "perimetro_autocad" + String(j) %>" name="<%= "perimetro_autocad" + String(j) %>" onchange="validateMaterialWidth(<%= String(j) %>);       requiredCutValue(<%= String(j) %>);      changeCutValue(<%= String(j) %>, <%= JSON.stringify(corte) %>);   changeTotalValue(<%= String(j) %>);   changeTotalTotal();    changeTotalPiezas(<%= String(j)%>);          changePerMaterialWidth(<%= String(j)%>);"></td>
                        <td><input type="number" step="0.0001" id="<%= "factor_corte" + String(j) %>"   value="1"   name="<%= "factor_corte" + String(j) %>" onchange="changeCutValue(<%= String(j) %>, <%= JSON.stringify(corte) %>);   changeTotalValue(<%= String(j) %>);   changeTotalTotal();       changeTotalPiezas(<%= String(j)%>);          changePerMaterialWidth(<%= String(j)%>);"></td>
                        <td><input readonly type="text" class ="cannotchange" id="<%= "perimetro" + String(j) %>" name="<%= "perimetro" + String(j) %>" onkeydown="return false;"></td>
                        <td><input type="number" step="0.0001" id="<%= "largo_autocad" + String(j) %>" name="<%= "largo_autocad" + String(j) %>" onchange="validateMaterialWidth(<%= String(j) %>);       requiredMaterialValue(<%= String(j) %>);      changeAreaValue(<%= String(j) %>, <%= JSON.stringify(material) %>);   changeTotalValue(<%= String(j) %>);   changeTotalTotal();     changeTotalPiezas(<%= String(j)%>);          changePerMaterialWidth(<%= String(j)%>);"></td>
                        <td><input type="number" step="0.0001" id="<%= "ancho_autocad" + String(j) %>" name="<%= "ancho_autocad" + String(j) %>" onchange="validateMaterialWidth(<%= String(j) %>);       requiredMaterialValue(<%= String(j) %>);      changeAreaValue(<%= String(j) %>, <%= JSON.stringify(material) %>);   changeTotalValue(<%= String(j) %>);   changeTotalTotal();     changeTotalPiezas(<%= String(j)%>);          changePerMaterialWidth(<%= String(j)%>);"></td>
                        <td><input type="number" step="0.0001" id="<%= "factor_area" + String(j) %>"    value="1"  name="<%= "factor_area" + String(j) %>" onchange="changeAreaValue(<%= String(j) %>, <%= JSON.stringify(material) %>);   changeTotalValue(<%= String(j) %>);   changeTotalTotal();      changeTotalPiezas(<%= String(j)%>);          changePerMaterialWidth(<%= String(j)%>);"></td>
                        <td><input readonly type="text" class ="cannotchange" id="<%= "area" + String(j) %>" name="<%= "area" + String(j) %>" onkeydown="return false;"></td>
                        <td><input type="number" id="<%= "piercings" + String(j) %>" name="<%= "piercings" + String(j) %>"  onchange="changePiercingValue(<%= String(j) %>, <%= JSON.stringify(piercing) %>);   changeTotalValue(<%= String(j) %>);   changeTotalTotal();     changeTotalPiezas(<%= String(j)%>);          changePerMaterialWidth(<%= String(j)%>);"></td>
                        <td><input type="number" id="<%= "dobleces" + String(j) %>" name="<%= "dobleces" + String(j) %>"  onchange="validateMaterialWidth(<%= String(j) %>);       requiredDoblezValue(<%= String(j) %>);       changeDoblezValue(<%= String(j) %>, <%= JSON.stringify(doblez) %>);   changeTotalValue(<%= String(j) %>);   changeTotalTotal();    changeTotalPiezas(<%= String(j)%>);          changePerMaterialWidth(<%= String(j)%>);"></td>
                        <td><input type="number" step="0.0001" id="<%= "longitud_doblez" + String(j) %>" name="<%= "longitud_doblez" + String(j) %>"  onchange="changeDoblezValue(<%= String(j) %>, <%= JSON.stringify(doblez) %>);   changeTotalValue(<%= String(j) %>);   changeTotalTotal();      changeTotalPiezas(<%= String(j)%>);          changePerMaterialWidth(<%= String(j)%>);" ></td>
                        <td><select id="<%= "con_material" + String(j) %>" name="<%= "con_material" + String(j) %>" onchange="changeAreaValue(<%= String(j) %>, <%= JSON.stringify(material) %>);  changeTotalValue(<%= String(j) %>);   changeTotalTotal();      changeTotalPiezas(<%= String(j)%>);          changePerMaterialWidth(<%= String(j)%>);">
                            <option value=""></option>
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select></td>
                        <td><input type="checkbox" id="<%= "eliminar" + String(j) %>" name="<%= "eliminar" + String(j) %>" onchange="Eliminar(<%= String(j) %>, <%= JSON.stringify(piercing) %>);" ></td>
                        </tr>

                        <tr class="calculationsrow"  id="<%= "calculationsrow" + String(j) %>" style="display: none">                             
                            <td style="visibility: hidden;" id="<%= "column1" + String(j) %>"></td>
                            <td style="visibility: hidden;" id="<%= "column2" + String(j) %>">Valor total:</td>
                            <td style="visibility: hidden;" id="<%= "column3" + String(j) %>"><input readonly type="text" id="<%= "totaltodas" + String(j) %>"  onkeydown="return false;"></td>
                            <td style="visibility: hidden;" id="<%= "column4" + String(j) %>">Valor corte:</td>
                            <td style="visibility: hidden;" id="<%= "column5" + String(j) %>"><input readonly type="text" id="<%= "calculocorte" + String(j) %>"  onkeydown="return false;"></td>
                            <td style="visibility: hidden;" id="<%= "column6" + String(j) %>">Valor piercing:</td>
                            <td style="visibility: hidden;" id="<%= "column7" + String(j) %>"><input readonly type="text" id="<%= "calculopiercing" + String(j) %>"  onkeydown="return false;"></td>
                            <td style="visibility: hidden;" id="<%= "column8" + String(j) %>">Valor doblez:</td>
                            <td style="visibility: hidden;" id="<%= "column9" + String(j) %>"><input readonly type="text" id="<%= "calculodoblez" + String(j) %>"  onkeydown="return false;"></td>
                            <td style="visibility: hidden;" id="<%= "column10" + String(j) %>">Valor material:</td>
                            <td style="visibility: hidden;" id="<%= "column11" + String(j) %>"><input readonly type="text" id="<%= "calculomaterial" + String(j) %>"  onkeydown="return false;"></td>
                            <td style="visibility: hidden;" id="<%= "column12" + String(j) %>">Valor unitario:</td>
                            <td style="visibility: hidden;" id="<%= "column13" + String(j) %>"><input readonly type="text" id="<%= "total" + String(j) %>"  onkeydown="return false;"></td>
                            <td style="visibility: hidden;" id="<%= "column14" + String(j) %>"> </td>
                            <td style="visibility: hidden;" id="<%= "column15" + String(j) %>"> </td>
                            <td style="visibility: hidden;" id="<%= "column16" + String(j) %>"> </td>
                            <td style="visibility: hidden;" id="<%= "column17" + String(j) %>"> </td>
                            <td style="visibility: hidden;" id="<%= "column18" + String(j) %>"> </td>
                        </tr>
                    <% } %>
                </table>
            </div>      
            

            <div class="inputcontainer totalespormaterial" style="display: block;" id = "contenedortotales">

                <% for(let i = 0; i < totalespormaterial.length; i++){ %>
                    <input readonly type="text" class="TOTALPORMATERIALGROSOR" id="<%=totalespormaterial[i].material.replace(/\s/g, '') + totalespormaterial[i].width.replace(/\s/g, '')%>" style="display: block;" onkeydown="return false" value="Total <%=totalespormaterial[i].material.replace(/\s/g, '') +" "+ totalespormaterial[i].width.replace(/\s/g, '')%> : $ <%=totalespormaterial[i].total%>"/>
                <% } %>

                <% for(let i = 0; i < piercing.length; i++){ %>
                    <input readonly type="text" class="TOTALPORMATERIALGROSOR" id="Ac.H.R<%=piercing[i].width.replace(/\s/g, '')%>" style="display: none;" onkeydown="return false" value="Total corte, Ac. H.R <%= piercing[i].width %> : "/>
                    <input readonly type="text" class="TOTALPORMATERIALGROSOR" id="Ac.C.R<%=piercing[i].width.replace(/\s/g, '')%>" style="display: none;" onkeydown="return false" value="Total corte, Ac. C.R <%= piercing[i].width %> : "/>
                    <input readonly type="text" class="TOTALPORMATERIALGROSOR" id="Ac.1070<%=piercing[i].width.replace(/\s/g, '')%>" style="display: none;" onkeydown="return false" value="Total corte, Ac. 1070 <%= piercing[i].width %> : "/>
                    <input readonly type="text" class="TOTALPORMATERIALGROSOR" id="Ac.Inox.304<%=piercing[i].width.replace(/\s/g, '')%>" style="display: none;" onkeydown="return false" value="Total corte, Ac. Inox. 304 <%= piercing[i].width %> : "/>
                    <input readonly type="text" class="TOTALPORMATERIALGROSOR" id="Ac.Inox.316<%=piercing[i].width.replace(/\s/g, '')%>" style="display: none;" onkeydown="return false" value="Total corte, Ac. Inox. 316 <%= piercing[i].width %> : "/>
                    <input readonly type="text" class="TOTALPORMATERIALGROSOR" id="Ac.Inox.430<%=piercing[i].width.replace(/\s/g, '')%>" style="display: none;" onkeydown="return false" value="Total corte, Ac. Inox. 430 <%= piercing[i].width %> : "/>
                    <input readonly type="text" class="TOTALPORMATERIALGROSOR" id="Galv.<%=piercing[i].width.replace(/\s/g, '')%>" style="display: none;" onkeydown="return false" value="Total corte, Galv. <%= piercing[i].width %> : "/>
                    <input readonly type="text" class="TOTALPORMATERIALGROSOR" id="Alum.<%=piercing[i].width.replace(/\s/g, '')%>" style="display: none;" onkeydown="return false" value="Total corte, Alum. <%= piercing[i].width %> : "/>
                    <input readonly type="text" class="TOTALPORMATERIALGROSOR" id="Bronce<%=piercing[i].width.replace(/\s/g, '')%>" style="display: none;" onkeydown="return false" value="Total corte, Bronce <%= piercing[i].width %> : "/>
                    <input readonly type="text" class="TOTALPORMATERIALGROSOR" id="Cobre<%=piercing[i].width.replace(/\s/g, '')%>" style="display: none;" onkeydown="return false" value="Total corte, Cobre <%= piercing[i].width %> : "/>
                    <input readonly type="text" class="TOTALPORMATERIALGROSOR" id="Latón<%=piercing[i].width.replace(/\s/g, '')%>" style="display: none;" onkeydown="return false" value="Total corte, Latón <%= piercing[i].width %> : "/>
                <% } %>
            </div> 

            <div class="inputcontainer">
                <input readonly type="text" class="TOTAL" id="TOTAL" onkeydown="return false" value= "Total: $ <%= String(tot.toFixed(0)) %>" >
            </div>  
              
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>