<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar cliente</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <script src="https://kit.fontawesome.com/81cd34b36e.js" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <div class = "logoutcontainer">

        <div class = "iconcontainer">

            <a href="/editar-datos">
                <div class="editar-datos">
                    <i class='fas fa-edit'></i>
                </div>
            </a>

            <a href="/logout">
                <div class="log-in">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </div>
            </a>
        </div>
    </div>

    <img src="/images/logo.png" alt="logo">

    <h1 class = "title">Datos del cliente</h1>

    <div class="formcontainer">

        <form action="/editar-cliente-form" method ="post">

            <div class="inputcontainer">
                <input type="number" id="id" name="id" value = "<%= cliente.id %>">
            </div>

            <div class="inputcontainer">
                <label for="cliente">Cliente</label>
                <input type="text" id="cliente" name="cliente" placeholder="Nombre completo del cliente" value = "<%= cliente.client %>">
            </div>

            <div class="inputcontainer">
                <label for="cliente">Nombre de contacto</label>
                <input type="text" id="clientealt" name="clientealt" placeholder="Nombre completo del contacto" value = "<%= cliente.name %>">
            </div>

            <div class="inputcontainer">
                <label for="cliente">Nombre de contacto alternativo</label>
                <input type="text" id="clientealt1" name="clientealt1" placeholder="Nombre completo del contacto alternativo" value = "<%= cliente.name2 %>">
            </div>


            <% if (cliente.NIT != "-") { %>

                <div class="inputcontainer">
                    <label for="nit_cc">NIT o CC</label>
    
                    <div class="radiocontainer">
                        <div>
                          <input type="radio" id="NIT" name="nitorcc" value="NIT" checked>
                          <label for="huey">NIT</label>
                        </div>
                    
                        <div>
                          <input type="radio" id="CC" name="nitorcc" value="CC">
                          <label for="dewey">CC</label>
                        </div>
                    </div>
    
                    <input type="number" id="nit_cc" name="nit_cc" placeholder="NIT o CC" value = "<%= cliente.NIT %>">
                </div>

            <% } else { %>

                <div class="inputcontainer">
                    <label for="nit_cc">NIT o CC</label>
    
                    <div class="radiocontainer">
                        <div>
                          <input type="radio" id="NIT" name="nitorcc" value="NIT" >
                          <label for="huey">NIT</label>
                        </div>
                    
                        <div>
                          <input type="radio" id="CC" name="nitorcc" value="CC" checked>
                          <label for="dewey">CC</label>
                        </div>
                    </div>
    
                    <input type="number" id="nit_cc" name="nit_cc" placeholder="NIT o CC" value = "<%= cliente.CC %>">
                </div>

            <% } %>

            <div class="inputcontainer">
                <label for="direccion">Dirección</label>
                <input type="text" id="direccion" name="direccion" placeholder="Dirección" value = "<%= cliente.direction %>">
            </div>   

            <div class="inputcontainer">
                <label for="direccionenvio">Dirección de envío</label>
                <input type="text" id="direccionenvio" name="direccionenvio" placeholder="Dirección de envío" value = "<%= cliente.direction_send %>">
            </div>    

            <div class="inputcontainer">
                <label for="telefono1">Teléfono 1</label>
                <input type="tel" id="telefono1" name="telefono1" placeholder="Tel. 1" value = "<%= cliente.telefono1 %>">
            </div>    

            <div class="inputcontainer">
                <label for="telefono2">Teléfono 2</label>
                <input type="tel" id="telefono2" name="telefono2" placeholder="Tel. 2" value = "<%= cliente.telefono2 %>">
            </div>     

            <div class="inputcontainer">
                <label for="telefono3">Teléfono 3</label>
                <input type="tel" id="telefono3" name="telefono3" placeholder="Tel. 3" value = "<%= cliente.telefono3 %>">
            </div>   

            <div class="inputcontainer">
                <label for="emailfacturacion">Correo de facturación</label>
                <input type="email" id="emailfacturacion" name="emailfacturacion" placeholder="e-mail de facturación"
                <% if (cliente.billing_email == "-"){%>
                    value = "";
                <%} else { %>
                    value = "<%= cliente.billing_email %>"
                <% }%>
                >
            </div>

            <div class="inputcontainer">
                <label for="email1">Correo 1</label>
                <input type="email" id="email1" name="email1" placeholder="e-mail 1"
                <% if (cliente.email1 == "-"){%>
                    value = "";
                <%} else { %>
                    value = "<%= cliente.billing_email %>"
                <% }%>
                >
            </div>   

            <div class="inputcontainer">
                <label for="email2">Correo 2</label>
                <input type="email" id="email2" name="email2" placeholder="e-mail 2"          
                <% if (cliente.email2 == "-"){%>
                    value = "";
                <%} else { %>
                    value = "<%= cliente.billing_email %>"
                <% }%>
                >
            </div>   

            <div class="inputcontainer">
                <label for="email3">Correo 3</label>
                <input type="email" id="email3" name="email3" placeholder="e-mail 3"     
                <% if (cliente.email3 == "-"){%>
                    value = "";
                <%} else { %>
                    value = "<%= cliente.billing_email %>"
                <% }%>
                >
            </div>   

            <div class="inputcontainer">
                <label for="email4">Correo 4</label>
                <input type="email" id="email4" name="email4" placeholder="e-mail 4"            
                <% if (cliente.email4 == "-"){%>
                    value = "";
                <%} else { %>
                    value = "<%= cliente.billing_email %>"
                <% }%>
                >
            </div>  

            <input type="submit" value="Editar datos">
        </form>
    </div>
</body>
</html>