<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar precios</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <script src="https://kit.fontawesome.com/81cd34b36e.js" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script>

        function showareaprice(){

            let espesorform = document.getElementById('espesorcambio').value;
            let materialform = document.getElementById('materialcambio').value;

            if (espesorform == "" || materialform == ""){
                ;
            } else{

                document.getElementById("valoresnumericos1").style.display = "block";
                document.getElementById("valoresnumericosinput1").style.display = "block";
                document.getElementById("valoresnumericos2").style.display = "block";
                document.getElementById("valoresnumericosinput2").style.display = "block";

                document.getElementById("valoresnumericosinput1").setAttribute('required', '');
                document.getElementById("valoresnumericosinput2").setAttribute('required', '');
            }
        }



    </script>
</head>
<body>
    <div class = "logoutcontainer">

        <div class = "iconcontainer">

            <a href="/editar-datos">
                <div class="editar-datos">
                    <i class='fas fa-edit'></i>
                </div>
            </a>

            <a href="/logout">
                <div class="log-in">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </div>
            </a>
        </div>
    </div>

    <a href="/inicio"><img src="/images/logo.png" alt="logo"></a>

    <h1 class = "title precios_title_title">Precios</h1>

    <div class="formcontainer">
        <form action="/editar-precios" method ="post" onkeydown="return event.key != 'Enter';"  onsubmit="return confirm('Está seguro que quiere editar los precios?');">

<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->

            <div class="inputcontainer precios_title">
                <h2>Precios de corte</h2>
            </div>  

            <div class="inputcontainer precios precios_corte">
                    
                <table class="datos_corte">
                    <tr>
                        <th style="display: none;">Id</th>
                        <th>Calibre</th>
                        <th>$ COP/mm Ac. H.R.</th>
                        <th>$ COP/mm Ac. C.R.</th>
                        <th>$ COP/mm Ac. 1070</th>
                        <th>$ COP/mm Ac. Inox. 304</th>
                        <th>$ COP/mm Ac. Inox. 316</th>
                        <th>$ COP/mm Ac. Inox. 430</th>
                        <th>$ COP/mm Galv.</th>
                        <th>$ COP/mm Alum.</th>
                        <th>$ COP/mm Bronce</th>
                        <th>$ COP/mm Cobre</th>
                        <th>$ COP/mm Latón</th>
                        </tr>
    
                        <% for (let i = 0; i < listaDeCorte.length; i++){ %>
                            <tr>
                                <td class="cell" style="display: none;"><input type="number" name="<%= "corte_id" + String(i) %>" value="<%= listaDeCorte[i].id %>" required></td>
                                <td class="cell"><input type="text" value="<%= listaDeCorte[i].width %>"  onkeydown="return false;"></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_HR" + String(i) %>" name="<%= "corte_precio_HR" + String(i) %>" value="<%= listaDeCorte[i]['Ac. H.R'] %>" required></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_CR" + String(i) %>" name="<%= "corte_precio_CR" + String(i) %>" value="<%= listaDeCorte[i]['Ac. C.R'] %>" required></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_1070" + String(i) %>" name="<%= "corte_precio_1070" + String(i) %>" value="<%= listaDeCorte[i]['Ac. 1070'] %>" required></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_304" + String(i) %>" name="<%= "corte_precio_304" + String(i) %>" value="<%= listaDeCorte[i]['Ac. Inox. 304'] %>" required></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_316" + String(i) %>" name="<%= "corte_precio_316" + String(i) %>" value="<%= listaDeCorte[i]['Ac. Inox. 316'] %>" required></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_430" + String(i) %>" name="<%= "corte_precio_430" + String(i) %>" value="<%= listaDeCorte[i]['Ac. Inox. 430'] %>" required></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_Galv" + String(i) %>" name="<%= "corte_precio_Galv" + String(i) %>" value="<%= listaDeCorte[i]['Galv.'] %>" required></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_Alum" + String(i) %>" name="<%= "corte_precio_Alum" + String(i) %>" value="<%= listaDeCorte[i]['Alum.'] %>" required></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_Bronce" + String(i) %>" name="<%= "corte_precio_Bronce" + String(i) %>" value="<%= listaDeCorte[i]['Bronce'] %>" required></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_Cobre" + String(i) %>" name="<%= "corte_precio_Cobre" + String(i) %>" value="<%= listaDeCorte[i]['Cobre'] %>" required></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_Laton" + String(i) %>" name="<%= "corte_precio_Laton" + String(i) %>" value="<%= listaDeCorte[i]['Latón'] %>" required></td>
                            </tr>
                        <% } %>
                    </table>
            </div>        
<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->

            <div class="inputcontainer precios_title">
                <h2>Precios de doblez</h2>
            </div>  

            <div class="inputcontainer precios">
                    
                <table class="datos_doblez">
                    <tr>
                    <th style="display: none;">Id</th>
                    <th>Calibre</th>
                    <th>$ COP/Doblez</th>
                    </tr>

                    <% for (let i = 0; i < listaDeDoblez.length; i++){ %>
                        <tr>
                            <td class="cell" style="display: none;"><input type="number" name="<%= "doblez_id" + String(i) %>" value="<%= listaDeDoblez[i].id %>"  required></td>
                            <td class="cell"><input type="text" value="<%= listaDeDoblez[i].width %>"  onkeydown="return false;"></td>
                            <td class="cell"><input type="number" step="0.0001" id="<%= "doblez_precio" + String(i) %>" name="<%= "doblez_precio" + String(i) %>" value="<%= listaDeDoblez[i].fold %>" required></td>
                        </tr>
                    <% } %>
                </table>
            </div>    

<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->

            <div class="inputcontainer precios_title">
                <h2>Precios de piercing</h2>
            </div>

            <div class="inputcontainer precios">
                <table class="datos_piercing">
                    <tr>
                    <th style="display: none;">Id</th>
                    <th>Calibre</th>
                    <th>$ COP/piercing</th>
                    </tr>

                    <% for (let i = 0; i < listaDePiercing.length; i++){ %>
                        <tr>
                            <td class="cell" style="display: none;"><input type="number" name="<%= "piercing_id" + String(i) %>" value="<%= listaDePiercing[i].id %>" required></td>
                            <td class="cell"><input type="text" value="<%= listaDePiercing[i].width %>"  onkeydown="return false;"></td>
                            <td class="cell"><input type="number" step="0.0001" id="<%= "piercing_precio" + String(i) %>" name="<%= "piercing_precio" + String(i) %>" value="<%= listaDePiercing[i].piercing %>" required></td>
                        </tr>
                    <% } %>
                </table>
            </div>    

<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->

            <div class="inputcontainer precios_title">
                <h2>Precios de material</h2>
            </div>

            <div class="inputcontainer cambiomaterial">
                Seleccione el material de la lámina a cambiar
                <select id="materialcambio" name="materialcambio"  onchange="showareaprice();">
                    <option value=""></option>
                    <option value="Ac. Inox. 304">Ac. Inox. 304</option>
                    <option value="Ac. Inox. 316">Ac. Inox. 316</option>
                    <option value="Ac. Inox. 430">Ac. Inox. 430</option>
                    <option value="Ac. 1070">Ac. 1070</option>
                    <option value="Ac. H.R">Ac. H.R</option>
                    <option value="Ac. C.R">Ac. C.R</option>
                    <option value="Galv.">Galv.</option>
                    <option value="Alum.">Alum.</option>
                    <option value="Bronce">Bronce</option>
                    <option value="Cobre">Cobre</option>
                    <option value="Latón">Latón</option>
                </select>
            </div>

            <div class="inputcontainer cambiomaterial">
                Seleccione el espesor de la lámina a cambiar
                <select id="espesorcambio" name="espesorcambio" onchange="showareaprice();">
                    <option value=""></option>
                    <option value="Cal. 26 (0.4 mm)">Cal. 26 (0.4 mm)</option>
                    <option value="Cal. 24 (0.6 mm)">Cal. 24 (0.6 mm)</option>
                    <option value="Cal. 23 (0.7 mm)">Cal. 23 (0.7 mm)</option>
                    <option value="Cal. 20 (0.9 mm)">Cal. 20 (0.9 mm)</option>
                    <option value="Cal. 19 (1 mm)">Cal. 19 (1 mm)</option>
                    <option value="Cal. 18 (1.2 mm)">Cal. 18 (1.2 mm)</option>
                    <option value="Cal. 16 (1.5 mm)">Cal. 16 (1.5 mm)</option>
                    <option value="Cal. 14 (1.9 mm)">Cal. 14 (1.9 mm)</option>
                    <option value="Cal. 13 (2.2 mm)">Cal. 13 (2.2 mm)</option>
                    <option value="Cal. 12 (2.6 mm)">Cal. 12 (2.6 mm)</option>
                    <option value="Cal. 11 (3.0 mm)">Cal. 11 (3.0 mm)</option>
                    <option value="Cal. 10 (3.4 mm)">Cal. 10 (3.4 mm)</option>
                    <option value="Cal. 9 (3.8 mm)">Cal. 9 (3.8 mm)</option>
                    <option value="Cal. 8 (4.2 mm)">Cal. 8 (4.2 mm)</option>
                    <option value="Cal. 7 (4.5 mm)">Cal. 7 (4.5 mm)</option>
                    <option value="Cal. 6 (4.9 mm)">Cal. 6 (4.9 mm)</option>
                    <option value="Cal. 5 (5.3 mm)">Cal. 5 (5.3 mm)</option>
                    <option value="Cal. 4 (5.7 mm)">Cal. 4 (5.7 mm)</option>
                    <option value="Cal. 3 (6.0 mm)">Cal. 3 (6.0 mm)</option>
                    <option value="Cal. 1/2">Cal. 1/2"</option>
                    <option value="Cal. 3/8">Cal. 3/8"</option>
                    <option value="Cal. 5/16">Cal. 5/16"</option>
                    <option value="Cal. 1/4">Cal. 1/4"</option>
                    <option value="Cal. 3/16">Cal. 3/16"</option>
                    <option value="Cal. 1/8">Cal. 1/8"</option>
                    <option value="Cal. 1/16">Cal. 1/16"</option>
                </select>
            </div>

            <div class="inputcontainer cambiomaterial" id = "valoresnumericos1" style = "display: none;">
                Ingrese el área en mm² de la lámina a cambiar
                <input type="number" list = "cl" step="0.0001" id = "valoresnumericosinput1" style = "display: none;"  placeholder="mm²"  name="areacambio"  min="0.0001">
                <datalist id="cl">
                    <option value="2000000">1000mmx2000mm</option>
                    <option value="2976800">4'x8'</option>
                    <option value="4645152">5'x10'</option>
                </datalist>
            </div>

            <div class="inputcontainer cambiomaterial" id = "valoresnumericos2" style = "display: none; margin-bottom: 30px;">
                Ingrese costo en COP de la lámina a cambiar
                <input type="number" step="0.0001" id = "valoresnumericosinput2" style = "display: none;" placeholder="$"   name="preciocambio">
            </div>

            <div class="inputcontainer precios precios_area">
                    
                <table class="datos_material">
                    <tr>
                        <th style="display: none;">Id</th>
                        <th>Calibre</th>
                        <th>$ COP/mm² Ac. H.R.</th>
                        <th>$ COP/mm² Ac. C.R.</th>
                        <th>$ COP/mm² Ac. 1070</th>
                        <th>$ COP/mm² Ac. Inox. 304</th>
                        <th>$ COP/mm² Ac. Inox. 316</th>
                        <th>$ COP/mm² Ac. Inox. 430</th>
                        <th>$ COP/mm² Galv.</th>
                        <th>$ COP/mm² Alum.</th>
                        <th>$ COP/mm² Bronce</th>
                        <th>$ COP/mm² Cobre</th>
                        <th>$ COP/mm² Latón</th>
                        </tr>
    
                        <% for (let i = 0; i < listaDeMaterial.length; i++){ %>
                            <tr>
                                <td class="cell" style="display: none;"><input type="number" name="<%= "material_id" + String(i) %>" value="<%= listaDeMaterial[i].id %>" required></td>
                                <td class="cell"><input readonly type="text" value="<%= listaDeMaterial[i].width %>"  onkeydown="return false;"></td>
                                <td class="cell"><input readonly type="number" step="0.0001" id="<%= "material_precio_HR" + String(i) %>" name="<%= "material_precio_HR" + String(i) %>" value="<%= listaDeMaterial[i]['Ac. H.R'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.0001" id="<%= "material_precio_CR" + String(i) %>" name="<%= "material_precio_CR" + String(i) %>" value="<%= listaDeMaterial[i]['Ac. C.R'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.0001" id="<%= "material_precio_1070" + String(i) %>" name="<%= "material_precio_1070" + String(i) %>" value="<%= listaDeMaterial[i]['Ac. 1070'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.0001" id="<%= "material_precio_304" + String(i) %>" name="<%= "material_precio_304" + String(i) %>" value="<%= listaDeMaterial[i]['Ac. Inox. 304'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.0001" id="<%= "material_precio_316" + String(i) %>" name="<%= "material_precio_316" + String(i) %>" value="<%= listaDeMaterial[i]['Ac. Inox. 316'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.0001" id="<%= "material_precio_430" + String(i) %>" name="<%= "material_precio_430" + String(i) %>" value="<%= listaDeMaterial[i]['Ac. Inox. 430'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.0001" id="<%= "material_precio_Galv" + String(i) %>" name="<%= "material_precio_Galv" + String(i) %>" value="<%= listaDeMaterial[i]['Galv.'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.0001" id="<%= "material_precio_Alum" + String(i) %>" name="<%= "material_precio_Alum" + String(i) %>" value="<%= listaDeMaterial[i]['Alum.'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.0001" id="<%= "material_precio_Bronce" + String(i) %>" name="<%= "material_precio_Bronce" + String(i) %>" value="<%= listaDeMaterial[i]['Bronce'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.0001" id="<%= "material_precio_Cobre" + String(i) %>" name="<%= "material_precio_Cobre" + String(i) %>" value="<%= listaDeMaterial[i]['Cobre'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.0001" id="<%= "material_precio_Laton" + String(i) %>" name="<%= "material_precio_Laton" + String(i) %>" value="<%= listaDeMaterial[i]['Latón'] %>"    onkeydown="return false;"    required></td>
                            </tr>
                        <% } %>
                    </table>
            </div>    

            <input type="submit" value="Editar" class="send_precios">
        </form>
    </div>
<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->

</body>
</html>