<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar precios</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <script src="https://kit.fontawesome.com/81cd34b36e.js" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script>

        function showareaprice(){

            let espesorform = document.getElementById('espesorcambio').value;
            let materialform = document.getElementById('materialcambio').value;

            if (espesorform == "" || materialform == ""){
                ;
            } else{

                document.getElementById("valoresnumericos1").style.display = "block";
                document.getElementById("valoresnumericosinput1").style.display = "block";
                document.getElementById("valoresnumericos2").style.display = "block";
                document.getElementById("valoresnumericosinput2").style.display = "block";

                document.getElementById("valoresnumericosinput1").setAttribute('required', '');
                document.getElementById("valoresnumericosinput2").setAttribute('required', '');
            }
        }



    </script>
</head>
<body>
    <div class = "logoutcontainer">

        <div class = "iconcontainer">

            <a href="/editar-datos">
                <div class="editar-datos">
                    <i class='fas fa-edit'></i>
                </div>
            </a>

            <a href="/logout">
                <div class="log-in">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </div>
            </a>
        </div>
    </div>

    <a href="/inicio"><img src="/images/logo.png" alt="logo"></a>

    <h1 class = "title precios_title_title">Precios</h1>

    <div class="formcontainer">
        <form onkeydown="return event.key != 'Enter';">

<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->

            <div class="inputcontainer precios_title">
                <h2>Precios de corte</h2>
            </div>  

            <div class="inputcontainer precios precios_corte">
                    
                <table class="datos_corte">
                    <tr>
                        <th style="display: none;">Id</th>
                        <th>Calibre</th>
                        <th>$ COP/mm Ac. H.R.</th>
                        <th>$ COP/mm Ac. C.R.</th>
                        <th>$ COP/mm Ac. 1070</th>
                        <th>$ COP/mm Ac. Inox. 304</th>
                        <th>$ COP/mm Ac. Inox. 316</th>
                        <th>$ COP/mm Ac. Inox. 430</th>
                        <th>$ COP/mm Ac. Inox. Sat. 304</th>
                        <th>$ COP/mm Galv.</th>
                        <th>$ COP/mm Alum.</th>
                        <th>$ COP/mm Bronce</th>
                        <th>$ COP/mm Cobre</th>
                        <th>$ COP/mm Latón</th>
                        </tr>
    
                        <% for (let i = 0; i < listaDeCorte.length; i++){ %>
                            <tr>
                                <td class="cell" style="display: none;"><input type="number" name="<%= "corte_id" + String(i) %>" value="<%= listaDeCorte[i].id %>" required></td>
                                <td class="cell"><input type="text" value="<%= listaDeCorte[i].width %>"  onkeydown="return false;"></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_HR" + String(i) %>" name="<%= "corte_precio_HR" + String(i) %>" value="<%= listaDeCorte[i]['Ac. H.R'] %>" required onkeydown="return false;"></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_CR" + String(i) %>" name="<%= "corte_precio_CR" + String(i) %>" value="<%= listaDeCorte[i]['Ac. C.R'] %>" required onkeydown="return false;"></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_1070" + String(i) %>" name="<%= "corte_precio_1070" + String(i) %>" value="<%= listaDeCorte[i]['Ac. 1070'] %>" required onkeydown="return false;"></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_304" + String(i) %>" name="<%= "corte_precio_304" + String(i) %>" value="<%= listaDeCorte[i]['Ac. Inox. 304'] %>" required onkeydown="return false;"></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_316" + String(i) %>" name="<%= "corte_precio_316" + String(i) %>" value="<%= listaDeCorte[i]['Ac. Inox. 316'] %>" required onkeydown="return false;"></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_430" + String(i) %>" name="<%= "corte_precio_430" + String(i) %>" value="<%= listaDeCorte[i]['Ac. Inox. 430'] %>" required onkeydown="return false;"></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_Sat304" + String(i) %>" name="<%= "corte_precio_Sat304" + String(i) %>" value="<%= listaDeCorte[i]['Ac. Inox. Sat. 304'] %>" required onkeydown="return false;"></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_Galv" + String(i) %>" name="<%= "corte_precio_Galv" + String(i) %>" value="<%= listaDeCorte[i]['Galv.'] %>" required onkeydown="return false;"></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_Alum" + String(i) %>" name="<%= "corte_precio_Alum" + String(i) %>" value="<%= listaDeCorte[i]['Alum.'] %>" required onkeydown="return false;"></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_Bronce" + String(i) %>" name="<%= "corte_precio_Bronce" + String(i) %>" value="<%= listaDeCorte[i]['Bronce'] %>" required onkeydown="return false;"></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_Cobre" + String(i) %>" name="<%= "corte_precio_Cobre" + String(i) %>" value="<%= listaDeCorte[i]['Cobre'] %>" required onkeydown="return false;"></td>
                                <td class="cell"><input type="number" step="0.0001" id="<%= "corte_precio_Laton" + String(i) %>" name="<%= "corte_precio_Laton" + String(i) %>" value="<%= listaDeCorte[i]['Latón'] %>" required onkeydown="return false;"></td>
                            </tr>
                        <% } %>
                    </table>
            </div>        
<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->

            <div class="inputcontainer precios_title">
                <h2>Precios de doblez</h2>
            </div>  

            <div class="inputcontainer precios">
                    
                <table class="datos_doblez">
                    <tr>
                    <th style="display: none;">Id</th>
                    <th>Calibre</th>
                    <th>$ COP/Doblez</th>
                    </tr>

                    <% for (let i = 0; i < listaDeDoblez.length; i++){ %>
                        <tr>
                            <td class="cell" style="display: none;"><input type="number" name="<%= "doblez_id" + String(i) %>" value="<%= listaDeDoblez[i].id %>"  required onkeydown="return false;"></td>
                            <td class="cell"><input type="text" value="<%= listaDeDoblez[i].width %>"  onkeydown="return false;"></td>
                            <td class="cell"><input type="number" step="0.0001" id="<%= "doblez_precio" + String(i) %>" name="<%= "doblez_precio" + String(i) %>" value="<%= listaDeDoblez[i].fold %>" required onkeydown="return false;"></td>
                        </tr>
                    <% } %>
                </table>
            </div>    

<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->

            <div class="inputcontainer precios_title">
                <h2>Precios de piercing</h2>
            </div>

            <div class="inputcontainer precios">
                <table class="datos_piercing">
                    <tr>
                    <th style="display: none;">Id</th>
                    <th>Calibre</th>
                    <th>$ COP/piercing</th>
                    </tr>

                    <% for (let i = 0; i < listaDePiercing.length; i++){ %>
                        <tr>
                            <td class="cell" style="display: none;"><input type="number" name="<%= "piercing_id" + String(i) %>" value="<%= listaDePiercing[i].id %>" required onkeydown="return false;"></td>
                            <td class="cell"><input type="text" value="<%= listaDePiercing[i].width %>"  onkeydown="return false;"></td>
                            <td class="cell"><input type="number" step="0.0001" id="<%= "piercing_precio" + String(i) %>" name="<%= "piercing_precio" + String(i) %>" value="<%= listaDePiercing[i].piercing %>" required onkeydown="return false;"></td>
                        </tr>
                    <% } %>
                </table>
            </div>    

<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->

            <div class="inputcontainer precios_title">
                <h2>Precios de material</h2>
            </div>

            <div class="inputcontainer precios precios_area">
                    
                <table class="datos_material">
                    <tr>
                        <th style="display: none;">Id</th>
                        <th>Calibre</th>
                        <th>$ COP/mm² Ac. H.R.</th>
                        <th>$ COP/mm² Ac. C.R.</th>
                        <th>$ COP/mm² Ac. 1070</th>
                        <th>$ COP/mm² Ac. Inox. 304</th>
                        <th>$ COP/mm² Ac. Inox. 316</th>
                        <th>$ COP/mm² Ac. Inox. 430</th>
                        <th>$ COP/mm² Ac. Inox. Sat. 304</th>
                        <th>$ COP/mm² Galv.</th>
                        <th>$ COP/mm² Alum.</th>
                        <th>$ COP/mm² Bronce</th>
                        <th>$ COP/mm² Cobre</th>
                        <th>$ COP/mm² Latón</th>
                        </tr>
    
                        <% for (let i = 0; i < listaDeMaterial.length; i++){ %>
                            <tr>
                                <td class="cell" style="display: none;"><input type="number" name="<%= "material_id" + String(i) %>" value="<%= listaDeMaterial[i].id %>" required></td>
                                <td class="cell"><input readonly type="text" value="<%= listaDeMaterial[i].width %>"  onkeydown="return false;"></td>
                                <td class="cell"><input readonly type="number" step="0.01" id="<%= "material_precio_HR" + String(i) %>" name="<%= "material_precio_HR" + String(i) %>" value="<%= listaDeMaterial[i]['Ac. H.R'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.01" id="<%= "material_precio_CR" + String(i) %>" name="<%= "material_precio_CR" + String(i) %>" value="<%= listaDeMaterial[i]['Ac. C.R'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.01" id="<%= "material_precio_1070" + String(i) %>" name="<%= "material_precio_1070" + String(i) %>" value="<%= listaDeMaterial[i]['Ac. 1070'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.01" id="<%= "material_precio_304" + String(i) %>" name="<%= "material_precio_304" + String(i) %>" value="<%= listaDeMaterial[i]['Ac. Inox. 304'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.01" id="<%= "material_precio_316" + String(i) %>" name="<%= "material_precio_316" + String(i) %>" value="<%= listaDeMaterial[i]['Ac. Inox. 316'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.01" id="<%= "material_precio_430" + String(i) %>" name="<%= "material_precio_430" + String(i) %>" value="<%= listaDeMaterial[i]['Ac. Inox. 430'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.01" id="<%= "material_precio_Sat304" + String(i) %>" name="<%= "material_precio_Sat304" + String(i) %>" value="<%= listaDeMaterial[i]['Ac. Inox. Sat. 304'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.01" id="<%= "material_precio_Galv" + String(i) %>" name="<%= "material_precio_Galv" + String(i) %>" value="<%= listaDeMaterial[i]['Galv.'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.01" id="<%= "material_precio_Alum" + String(i) %>" name="<%= "material_precio_Alum" + String(i) %>" value="<%= listaDeMaterial[i]['Alum.'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.01" id="<%= "material_precio_Bronce" + String(i) %>" name="<%= "material_precio_Bronce" + String(i) %>" value="<%= listaDeMaterial[i]['Bronce'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.01" id="<%= "material_precio_Cobre" + String(i) %>" name="<%= "material_precio_Cobre" + String(i) %>" value="<%= listaDeMaterial[i]['Cobre'] %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" step="0.01" id="<%= "material_precio_Laton" + String(i) %>" name="<%= "material_precio_Laton" + String(i) %>" value="<%= listaDeMaterial[i]['Latón'] %>"    onkeydown="return false;"    required></td>
                            </tr>
                        <% } %>
                    </table>
            </div>    

























            <div class="inputcontainer precios_title">
                <h2>Factores de desperdicio</h2>
            </div>


            <div class="inputcontainer precios precios_area">
                    
                <table class="datos_piercing datos_desperdicio">
                    <tr>
                        <th style="display: none;">Id</th>
                        <th>Calibres</th>
                        <th>Factor</th>
                    </tr>

                            <tr>
                                <td class="cell"><input readonly type="text" value="Cal. 26 (0.4 mm) - Cal. 11 (3.0 mm), Cal. 1/8, Cal. 1/16"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" value="1.3"    onkeydown="return false;"    required></td>
                            </tr>

                            <tr>
                                <td class="cell"><input readonly type="text" value="Cal. 10 (3.4 mm) - Cal. 3 (6.0 mm),  Cal. 1/4, Cal. 3/16"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" value="1.5"    onkeydown="return false;"    required></td>
                            </tr>

                            <tr>
                                <td class="cell"><input readonly type="text" value="Cal. 3/8, Cal. 5/16"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" value="1.7"    onkeydown="return false;"    required></td>
                            </tr>

                            <tr>
                                <td class="cell"><input readonly type="text" value="Cal. 1/2, Cal. 5/8, Cal. 3/4"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" value="2.0"    onkeydown="return false;"    required></td>
                            </tr>

                    </table>
            </div>  











































            <div class="inputcontainer precios_title">
                <h2>Precios de láminas 4'x8'</h2>
            </div>


            <div class="inputcontainer precios precios_area">
                    
                <table class="datos_material">
                    <tr>
                        <th style="display: none;">Id</th>
                        <th>Calibre</th>
                        <th>$ COP Ac. H.R.</th>
                        <th>$ COP Ac. C.R.</th>
                        <th>$ COP Ac. 1070</th>
                        <th>$ COP Ac. Inox. 304</th>
                        <th>$ COP Ac. Inox. 316</th>
                        <th>$ COP Ac. Inox. 430</th>
                        <th>$ COP Ac. Inox. Sat. 304</th>
                        <th>$ COP Galv.</th>
                        <th>$ COP Alum.</th>
                        <th>$ COP Bronce</th>
                        <th>$ COP Cobre</th>
                        <th>$ COP Latón</th>
                        </tr>
    
                        <% for (let i = 0; i < listaDeMaterial.length; i++){ 
                            
                        let factor = 1;

                        if (listaDeMaterial[i].width == "Cal. 26 (0.4 mm)" || listaDeMaterial[i].width == "Cal. 24 (0.6 mm)" ||  listaDeMaterial[i].width == "Cal. 23 (0.7 mm)" ||  listaDeMaterial[i].width == "Cal. 20 (0.9 mm)" ||  listaDeMaterial[i].width == "Cal. 19 (1 mm)" ||   listaDeMaterial[i].width == "Cal. 18 (1.2 mm)" ||  listaDeMaterial[i].width == "Cal. 16 (1.5 mm)" ||  listaDeMaterial[i].width == "Cal. 14 (1.9 mm)" ||  listaDeMaterial[i].width == "Cal. 13 (2.2 mm)" ||  listaDeMaterial[i].width == "Cal. 12 (2.6 mm)" ||  listaDeMaterial[i].width == "Cal. 11 (3.0 mm)" ||  listaDeMaterial[i].width =="Cal. 1/8" || listaDeMaterial[i].width == "Cal. 1/16") {
                            factor = 1.3;
                        }

                        if (listaDeMaterial[i].width == "Cal. 10 (3.4 mm)" || listaDeMaterial[i].width == "Cal. 9 (3.8 mm)" ||  listaDeMaterial[i].width == "Cal. 8 (4.2 mm)" ||  listaDeMaterial[i].width == "Cal. 7 (4.5 mm)" ||  listaDeMaterial[i].width == "Cal. 6 (4.9 mm)" ||   listaDeMaterial[i].width == "Cal. 5 (5.3 mm)" ||  listaDeMaterial[i].width == "Cal. 4 (5.7 mm)" ||  listaDeMaterial[i].width == "Cal. 3 (6.0 mm)" || listaDeMaterial[i].width == "Cal. 1/4" || listaDeMaterial[i].width == "Cal. 3/16") {
                            factor = 1.5;
                        }

                        if (listaDeMaterial[i].width == "Cal. 3/8" || listaDeMaterial[i].width == "Cal. 5/16") {
                            factor = 1.7;
                        }
                        
                        if (listaDeMaterial[i].width == "Cal. 3/8" || listaDeMaterial[i].width == "Cal. 5/16") {
                            factor = 1.7;
                        }
                        
                        if (listaDeMaterial[i].width == "Cal. 1/2" || listaDeMaterial[i].width == "Cal. 5/8" || listaDeMaterial[i].width == "Cal. 3/4") {
                            factor = 2.0;
                        }

                        %>

                            <tr>
                                <td class="cell" style="display: none;"><input type="number" name="<%= "material_id" + String(i) %>" value="<%= listaDeMaterial[i].id %>" required></td>
                                <td class="cell"><input readonly type="text" value="<%= listaDeMaterial[i].width %>"  onkeydown="return false;"></td>
                                <td class="cell"><input readonly type="number" value="<%= parseInt(2972897*listaDeMaterial[i]['Ac. H.R']/factor) %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number" value="<%= parseInt(2972897*listaDeMaterial[i]['Ac. C.R']/factor) %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number"  value="<%= parseInt(2972897*listaDeMaterial[i]['Ac. 1070']/factor) %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number"  value="<%= parseInt(2972897*listaDeMaterial[i]['Ac. Inox. 304']/factor) %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number"  value="<%= parseInt(2972897*listaDeMaterial[i]['Ac. Inox. 316']/factor) %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number"  value="<%= parseInt(2972897*listaDeMaterial[i]['Ac. Inox. 430']/factor) %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number"  value="<%= parseInt(2972897*listaDeMaterial[i]['Ac. Inox. Sat. 304']/factor) %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number"  value="<%= parseInt(2972897*listaDeMaterial[i]['Galv.']/factor) %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number"  value="<%= parseInt(2972897*listaDeMaterial[i]['Alum.']/factor) %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number"  value="<%= parseInt(2972897*listaDeMaterial[i]['Bronce']/factor) %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number"  value="<%= parseInt(2972897*listaDeMaterial[i]['Cobre']/factor) %>"    onkeydown="return false;"    required></td>
                                <td class="cell"><input readonly type="number"  value="<%= parseInt(2972897*listaDeMaterial[i]['Latón']/factor) %>"    onkeydown="return false;"    required></td>
                            </tr>
                        <% } %>
                    </table>
            </div>  





        </form>
    </div>
<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->

</body>
</html>